<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Error Alert</title>
  <link rel="stylesheet" href="errorMessage.css" />
</head>
<body>
  <div class="alert-container-error">
    <div class="error-alert-error">
      <div class="alert-content-error">
        <div class="alert-icon-error">
          <svg xmlns="http://www.w3.org/2000/svg"
               fill="none" viewBox="0 0 24 24"
               stroke-width="1.5" stroke="currentColor"
               class="icon">
            <path stroke-linecap="round" stroke-linejoin="round"
                  d="M12 9v3.75m9-.75a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 3.75h.008v.008H12v-.008Z" />
          </svg>
        </div>
        <div class="alert-text-error">
          <p class="alert-title-error">Hubo un error</p>
          <p class="alert-description-error">Se presento un error por parte del servidor</p>
        </div>
      </div>
      <button class="alert-close-error">
        <svg xmlns="http://www.w3.org/2000/svg"
             fill="none" viewBox="0 0 24 24"
             stroke-width="1.5" stroke="currentColor"
             class="icon">
          <path stroke-linecap="round" stroke-linejoin="round"
                d="M6 18 18 6M6 6l12 12" />
        </svg>
      </button>
    </div>
  </div>
  <script>
    document.querySelector('.alert-close-error').addEventListener('click', function() {
        document.querySelector('.alert-container-error').classList.toggle('alert-error-show');
    });
  </script>
</body>
</html>
