<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="menu-main.css">
</head>
<body>
    <nav class="nav-menu">
        <div class="title">Punto de Venta Optico</div>
        <details>
            <summary>    
                <div>Ventas</div>
            </summary>            
        </details>
        <details>
            <summary>
                <div>Abonos</div>
            </summary>
            <ul>
                <li>Registro</li>
                <li>Busqueda</li>
                <li>Cancelar</li>
            </ul>
        </details>
        <details>
            <summary>
                <div>Cotizaciones</div>
            </summary>
            <ul>
                <li>Cotizar</li>
                <li>Busqueda</li>
            </ul>
        </details>
        <details>
            <summary>
                <div>Consultas</div>
            </summary>
            <ul>
                <li>Ventas por dia</li>
            </ul>
        </details>
        <details>
            <summary>
                <div>Reportes</div>
            </summary>
            <ul>
                <li>Ventas</li>
            </ul>
        </details>
        <details>
            <summary>
                <div>Finanzas</div>
            </summary>
            <ul>
                <li>Corte</li>
            </ul>
        </details>
        <details>
            <summary>
                <div>Operaciones</div>
            </summary>
            <ul>
                <li>Clientes</li>
            </ul>
        </details>
        <details>
            <summary>
                <div>Configuracion</div>
            </summary>
            <ul>
                <li>Configuracion</li>
            </ul>
        </details>
        <details>
            <summary>
                <div>Desconectar</div>
            </summary>
            <ul>
                <li>Logout</li>
            </ul>
        </details>
    </nav>
</body>
</html>