<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta de articulos</title>
    <link rel="stylesheet" href="productDetails.css">
</head>
<body>
    <div class="container--pd">
        <section class="pd--header">
            <h1>Detalles del producto</h1>
        </section>
        
        <section class="pd--searcher">
            <label for="searcher--input">Codigo</label>
            <input type="text" class="searcher--input" id="searcher--input">
        </section>

        <section class="pd--list">
            <div class="list--header">
                <span>Codigo</span>
                <span>Descripcion</span>
                <span>Categoria</span>
                <span>IVA %</span>
                <span>Costo sin IVA</span>
                <span>Costo con IVA</span>
                <span>Precio de venta</span>
                <span>Utilidad %</span>
                <span>Unidades</span>
                <span>Imagen</span>
            </div>
            <div class="list--items">
                <div class="items--item">
                    <span>010139</span>
                    <span>Progresivo Fotoromatico Antirreflejante Blueblock 1ra Serie</span>
                    <span>Materiales</span>
                    <span>16%</span>
                    <span>116.00</span>
                    <span>124.32</span>
                    <span>4600.00</span>
                    <span>235.65</span>
                    <span>125</span>
                    <span>X</span>
                </div>

                <div class="items--item">
                    <span>010140</span>
                    <span>Progresivo Fotoromatico Antirreflejante Blueblock 2ra Serie</span>
                    <span>Materiales</span>
                    <span>16%</span>
                    <span>116.00</span>
                    <span>139.42</span>
                    <span>5100.00</span>
                    <span>205.65</span>
                    <span>125</span>
                    <span>X</span>
                </div>
            </div>
        </section>

        <section class="pd--footer">

        </section>
    </div>
</body>
</html>