body {
    margin: 0;
    padding: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container--pd {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 80vw;
    height: 80vh;
    margin: 0;
    padding: 0;
    border-radius: 7px;
    border: 1px solid #00000033;
    box-shadow: 0 5px 14px #0000001a;
}

.pd--header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 60px;
    padding: 0 20px;
    border-bottom: 1px solid #00000033;
    box-sizing: border-box;
    background-color: blue;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}

.pd--header h1 {
    color: aliceblue;
}

.pd--searcher {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 60px;
    padding: 0 20px;
    border-bottom: 1px solid #00000033;
    box-sizing: border-box;
}