<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plantilla de registro de articulos</title>
    <link rel="stylesheet" href="./registerProduct.css">
</head>
<body>
    <div class="container--ra">
        <section class="ra--section1">
            <div class="section1--logo">
                <img src="../../icons/FernaSoft.svg" alt="">
            </div>
            <div class="section1--header">
                <span class="header--title">Alta de nuevos productos</span>
                <span class="header--subtitle">Registro de productos</span>
            </div>
        </section>
        
        <section class="ra--section2">
            <div class="section2--sku">
                <div class="sku--title">
                    <span>SKU</span>
                </div>
                <div class="sku--input">
                    <input type="text" name="input--skuCode" class="input--skuCode" id="input--skuCode">
                    <label for="input--skuCode" class="input--labelSkuCode">Codigo del articulo</label>
                </div>
            </div>
            <div class="section2--description">
                <div class="description--title">
                    <span>Descripcion</span>
                </div>
                <div class="description--input">
                    <input type="text" name="input--skuCode" class="input--description" id="input--description">
                    <label for="input--description" class="input--labelFescription">Descripcion del articulo</label>
                </div>
            </div>
        </section>
        
        <section class="ra--section3">

        </section>
        
        <section class="ra--section4">

        </section>
        
        <section class="ra--section5">

        </section>
    </div>

    <script>
        // const priceWithoutIVA = document.querySelector('.priceWithoutIVA');
        // const priceWithIVA = document.querySelector('.priceWithIVA');
        // const fileInput = document.querySelector('.imageContainer--button');
        // const preview = document.querySelector('.imageContainer--image');
        // const utility = document.querySelector('.utility--input');
        // const priceToSale = document.querySelector('.salePrice--input');
        // const iva = document.querySelector('.iva--value');
        
        // fileInput.addEventListener('change', () => {
        //     const file = fileInput.files[0];
        //     if (file) {
        //         const reader = new FileReader();
        //         reader.onload = (e) => {
        //             preview.innerHTML = `<img src="${e.target.result}" alt="Imagen cargada">`;
        //         };
        //         reader.readAsDataURL(file);
        //     }
        // });

        // const keydownPriceWithoutIVA = function(event) {
        //     const iva = Number(document.querySelector('.iva--value').value);
        //     const price = event.target.value * (1 + (iva > 0 ? iva / 100 : 0));
        //     priceWithIVA.value = price.toFixed(2);
        // };

        // const keydownPriceWithIVA = function(event) {
        //     const iva = Number(document.querySelector('.iva--value').value);
        //     const price = event.target.value / (1 + (iva > 0 ? iva / 100 : 0));
        //     priceWithoutIVA.value = price.toFixed(2);
        // };

        // const keydownUtility = function(event) {
        // const value = Number(priceWithIVA.value) * (1 + event.target.value / 100);
        // priceToSale.value = utility.value !== "" ? value.toFixed(2) : "";
        // };

        // const keydownPriceToSale = function(event) {
        //     const value = (event.target.value - priceWithIVA.value) / priceWithIVA.value * 100;
        //     utility.value = priceToSale.value !== "" && priceWithIVA.value !== "" && Number(priceWithIVA.value) !== 0 ? value.toFixed(2) + "%" : "";
        // };

        // priceWithoutIVA.addEventListener('input', keydownPriceWithoutIVA);
        // priceWithIVA.addEventListener('input', keydownPriceWithIVA);
        // utility.addEventListener('input', keydownUtility);
        // priceToSale.addEventListener('input', keydownPriceToSale);

        // iva.addEventListener('change', () => {
        //     if (priceWithoutIVA.value !== "") {
        //         const iva = Number(document.querySelector('.iva--value').value);
        //         const price = priceWithoutIVA.value * (1 + iva / 100);
        //         priceWithIVA.value = price.toFixed(2);
        //     } 
        // })
    </script>
</body>
</html>