<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plantilla de registro de articulos</title>
    <link rel="stylesheet" href="./registerProduct.css">
</head>
<body>
    <div class="containerRegisterArticles">
        <section class="fs--ra">
            <h1>Registro de nuevos articulos</h1>
            <span>Capture los datos del articulo nuevo</span>
        </section>
        <section class="ss--ra">
            <div class="ss--sku">
                <div class="sku--title">SKU</div>
                <span class="sku--description">Codigo del articulo</span>
                <input type="text" class="sku--input">
            </div>
            <div class="ss--description">
                <div class="description--title">Description</div>
                <span class="description--description">Descripcon del articulo</span>
                <input type="text" class="description--input">
            </div>
            <div class="ss--category">
                <div class="category--title">Categoria</div>
                <span class="category--description">Tipo de producto</span>
                <select name="category--input" class="category--input">
                    <option value="frame">Armazones</option>
                    <option value="material">Materiales</option>
                    <option value="accesory">Accesorios</option>
                    <option value="services">Servicios</option>
                </select>
                <div class="category--imageContainer">
                    <label for="imageContainer--button" class="imageContainer--label">Subir imagen</label>
                    <input type="file" class="imageContainer--button" id="imageContainer--button" accept="image/" hidden>
                    <div class="imageContainer--image"></div>
                </div>
            </div>
            <div class="ss--price">
                <div class="price--title">Costo</div>
                <span class="price--description">Costo sin IVA</span>
                <input type="text" class="price--input priceWithoutIVA">
                <div class="price--iva">
                    <div class="iva--title">IVA</div>
                    <span class="iva--description">Valor del IVA</span>
                    <select name="iva--value" class="iva--value">
                        <option value="0">0%</option>
                        <option value="8">8%</option>
                        <option value="16">16%</option>
                    </select>
                </div>
            </div>
            <div class="ss--price">
                <div class="price--title">Costo</div>
                <span class="price--description">Costo con IVA</span>
                <input type="text" class="price--input priceWithIVA">
            </div>
            <div class="ss--utility">
                <div class="utility--title">Utilidad</div>
                <span class="utility--description">Utilidad neta en %</span>
                <input type="text" class="utility--input">
            </div>
            <div class="ss--salePrice">
                <div class="salePrice--title">Precio</div>
                <span class="salePrice--description">Precio de Venta</span>
                <input type="text" class="salePrice--input">
            </div>
        </section>
        <section class="ts--ra">
            <button class="ts--btnAccept">Guardar</button>
            <button class="ts--btnCancel">Cancelar</button>
        </section>
    </div>

    <script>
        const priceWithoutIVA = document.querySelector('.priceWithoutIVA');
        const priceWithIVA = document.querySelector('.priceWithIVA');
        const fileInput = document.querySelector('.imageContainer--button');
        const preview = document.querySelector('.imageContainer--image');
        const utility = document.querySelector('.utility--input');
        const priceToSale = document.querySelector('.salePrice--input');
        
        fileInput.addEventListener('change', () => {
            const file = fileInput.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = (e) => {
                    preview.innerHTML = `<img src="${e.target.result}" alt="Imagen cargada">`;
                };
                reader.readAsDataURL(file);
            }
        });

        priceWithoutIVA.addEventListener('input', (event) => {
            const iva = Number(document.querySelector('.iva--value').value);
            const price = event.target.value * (1 + (iva > 0 ? iva / 100 : 0));
            priceWithIVA.value = price.toFixed(2);
        });

        priceWithIVA.addEventListener('input', (event) => {
            const iva = Number(document.querySelector('.iva--value').value);
            const price = event.target.value / (1 + (iva > 0 ? iva / 100 : 0));
            priceWithoutIVA.value = price.toFixed(2);
        });

        utility.addEventListener('input', (event) => {
            const value = Number(priceWithIVA.value) * (1 + event.target.value / 100);
            priceToSale.value = value.toFixed(2);
        });

        priceToSale.addEventListener('input', (event) => {
            const value = (event.target.value - priceWithIVA.value) / priceWithIVA.value * 100;
            utility.value = value.toFixed(2);
        });

    </script>
</body>
</html>