<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IVA y Dolar</title>
    <link rel="stylesheet" href="test.css">
</head>
<body>
    <div class="overlay">
        <div class="paymentContainer">
            <div class="leftsection">
                <div class="leftsection-header">
                    <div class="header-left">
                        <span class="title">pagos<span>Ventas</span></span>
                        <span class="subtitle">Registro de pagos</span>
                        <hr></hr>
                    </div>
                    <div class="header-right">
                        <span>Fecha</span>
                        <span></span>
                    </div>
                </div>
                <div class="leftsection-carousel-header">
                    <span>Forma de Pago</span>
                    <span>Seleccione su forma de pago</span>
                </div>
                <div class="sliderCarousel">
                    <div class="list">
                        <div class="item">
                            <img src="../../images/cash-mx.jpg" alt="">
                        </div>
                        <div class="item">
                            <img src="../../images/cash-eu.jpg" alt="">
                        </div>
                        <div class="item">
                            <img src="../../images/creditcard.png" alt="">
                        </div>
                        <div class="item">
                            <img src="../../images/spei2-removebg.png" alt="">
                            <div class="topic">Transferencia</div>
                        </div>
                        <div class="item">
                            <img src="../../images/cupon-removebg.png" alt="">
                        </div>
                    </div>
                    <div class="arrows">
                        <button class="prev"><</button>
                        <button class="next">></button>
                    </div>
                </div>
                <div class="paymentSection">
                    <div class="paymentLabels">
                        <span>Anticipo</span>
                        <span>Cantidad a abonar</span>
                    </div>
                    <input class="paymentValue" required="" placeholder="Cantidad" type="number">
                    <button class="applyPayment">Aplicar</button>
                </div>
            </div>
            <div class="rightsection">
                <div class="summaryClient">
                    <div class="summaryClientContainer">
                        <div class="clientIcon">
                            <svg width="36" height="36" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <circle cx="12" cy="8" r="5"/>
                                <path d="M20 21a8 8 0 0 0-16 0"/>
                            </svg>
                        </div>
                        <span class="summaryClientName">Maria del Refugio Rodriguez Lopez</span>
                    </div>
                    <div class="summaryClientSaleDetails">
                        <span>Total</span>
                        <span>1300.00</span>
                        <span>MX</span>
                    </div>
                </div>
                <div class="summarySale">
                    <!-- <div class="saleTicket">
                        <span>No. de Folio</span><span>123</span>
                    </div> -->
                    <div class="salePayments">
                        <div class="paymentItem">
                            <div class="itemCheck">
                                <svg width="24" height="24" viewBox="0 0 20 20" fill="currentColor">
                                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
                                </svg>
                            </div>
                            <span>102323232300.12</span>
                            <div class="itemDeletePayment">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                    <path d="M10 11v6"/>
                                    <path d="M14 11v6"/>
                                    <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6"/>
                                    <path d="M3 6h18"/>
                                    <path d="M8 6V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"/>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="summaryPaymentDetail">
                        <div class="detailTotal">
                            <span>1300.30</span> MX</span>
                        </div>
                        <span>Total abonado</span>
                    </div>
                    <button class="btnApplyPayments">Registrar</button>
                </div>
            </div>
        </div>      
    </div>
</body>
<script src="./test.js"></script>
</html>