<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="test-salesform.css">
</head>
<body>
    <div class="container-sales">
        <div class="sales-sideleft"></div>
        <div class="sales-sidecenter">
            <div class="sidecenter-firstsection">
                <div class="sidecenter-firstsection-title">
                    <span>Menu Principal</span>
                </div>
                <div class="sidecenter-firstsection-inputs">
                    <div>Publico General</div>
                    <label class="search-icon">
                        <svg width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <path d="m21 21-4.34-4.34"/>
                            <circle cx="11" cy="11" r="8"/>
                        </svg>
                    </label>
                    <input type="text" class="sku" name="sku" id="sku" placeholder="Codigo del producto">
                    <label for="sku" class="sku-icon">
                        <svg width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <path d="m21 21-4.34-4.34"/>
                            <circle cx="11" cy="11" r="8"/>
                        </svg>
                    </label>
                </div>
            </div>
            <div class="sidecenter-secondsection">
                <div class="secondsection-item1" tabindex="0">
                    <input type="radio" name="categoria" id="item1" class="radio-item" hidden>
                        <label for="item1" class="secondsection-item">
                            <svg width="45" height="45" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round">
                                <circle cx="6" cy="15" r="4"/>
                                <circle cx="18" cy="15" r="4"/>
                                <path d="M14 15a2 2 0 0 0-2-2 2 2 0 0 0-2 2"/>
                                <path d="M2.5 13 5 7c.7-1.3 1.4-2 3-2"/>
                                <path d="M21.5 13 19 7c-.7-1.3-1.5-2-3-2"/>
                            </svg>
                            <span>Armazones</span>
                        </label>
                </div>

                <div class="secondsection-item2" tabindex="1">
                    <input type="radio" name="categoria" id="item2" class="radio-item" hidden>
                        <label for="item2" class="secondsection-item">
                            <svg width="45" height="45" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round">
                                <path d="M21 10V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l2-1.14"/>
                                <path d="m7.5 4.27 9 5.15"/>
                                <polyline points="3.29 7 12 12 20.71 7"/>
                                <line x1="12" x2="12" y1="22" y2="12"/>
                                <circle cx="18.5" cy="15.5" r="2.5"/>
                                <path d="M20.27 17.27 22 19"/>
                            </svg>
                            <span>Materiales</span>
                        </label>
                </div>

                <div class="secondsection-item3" tabindex="2">
                    <input type="radio" name="categoria" id="item3" class="radio-item" hidden>
                        <label for="item3" class="secondsection-item">
                            <svg width="45" height="45" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round">
                                <path d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71"/>
                                <path d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71"/>
                            </svg>
                            <span>Accesorios</span>
                        </label>                    
                </div>

                <div class="secondsection-item4" tabindex="3">
                    <input type="radio" name="categoria" id="item4" class="radio-item" hidden>
                        <label for="item4" class="secondsection-item">
                            <svg width="45" height="45" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round">
                                <rect width="8" height="4" x="8" y="2" rx="1" ry="1"/>
                                <path d="M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2"/>
                                <path d="M9 14h6"/>
                                <path d="M12 17v-6"/>
                            </svg>
                            <span>Servicios</span>
                        </label>
                </div>
            </div>
            <div class="sidecenter-thirdsection">
                <span class="thirdsection-title">Selecciona el producto</span>
                <div class="thirdsection-content">
                    <div class="content-image" title="Imagen no disponible">
                        <img src="../../images/no-image.jpg">
                    </div>
                </div>
            </div>
        </div>
        <div class="sales-sideright">
            <div class="sideright-firstsection">
                <div class="sideright-title">Menu Productos</div>
                <div class="sideright-deleteIcon">
                    <div class="deleteIcon-container" title="Borrar">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M3 6h18"/>
                            <path d="M19 6v14c0 1-1 2-2 2H7c-1 0-2-1-2-2V6"/>
                            <path d="M8 6V4c0-1 1-2 2-2h4c1 0 2 1 2 2v2"/>
                            <line x1="10" x2="10" y1="11" y2="17"/>
                            <line x1="14" x2="14" y1="11" y2="17"/>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="separator"></div>
            <div class="sideright-secondsection">
                <div class="item">
                    <div class="item-delete" title="Quitar producto">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M3 6h18"/>
                            <path d="M19 6v14c0 1-1 2-2 2H7c-1 0-2-1-2-2V6"/>
                            <path d="M8 6V4c0-1 1-2 2-2h4c1 0 2 1 2 2v2"/>
                            <line x1="10" x2="10" y1="11" y2="17"/>
                            <line x1="14" x2="14" y1="11" y2="17"/>
                        </svg>
                    </div>
                    <div class="item-product">
                        <div class="product-image">
                            <img src="../../images/Telpo-C9-01.png" alt="">
                        </div>
                        <div class="product-details">
                            <span class="details-description">Descripcion</span>
                            <span class="details-price">price</span>
                        </div>
                    </div>
                    <div class="item-button">
                        <div class="button-quantity">999</div>
                        <div class="button-buttons">
                            <button class="buttons-plus">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                    <path d="m18 15-6-6-6 6"/>
                                </svg>
                            </button>
                            <button class="buttons-minus">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                    <path d="m6 9 6 6 6-6"/>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="item-price">$99999.00</div>
                </div>
            </div>
            <div class="separator"></div>
            <div class="sideright-thirdsection">
                <div>Sub Total</div>
                <div>$1000.00</div>
                <div class="thirdsection-discount">
                    <div>Descuento</div>
                    <details>
                        <summary>
                            <svg width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <path d="M5 12h14"/>
                                <path d="M12 5v14"/>
                            </svg>
                        </summary>
                        <ul>
                            <li>Aplicar descuento</li>
                            <li>Eliminar descuento</li>
                        </ul>
                    </details>
                </div>
                <div>- $123.52</div>
                <div><input type="checkbox">IVA</div>
                <div>$132.58</div>
                <div>Total</div>
                <div class="thirdsection-total">$1000.00</div>
            </div>
            <div class="separator"></div>
            <div class="sideright-forthsection">
                <div class="forthsection-buttonRegisterPay">
                    <button class="buttonRegisterPay-button">Pagar</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>