<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="test-salesform.css">
</head>
<body>
    <div class="container-sales">
        <div class="sales-sideleft"></div>
        <div class="sales-sidecenter">
            <div class="sidecenter-firstsection">
                <div class="sidecenter-firstsection-title">
                    <span>Menu Principal</span>
                </div>
                <div class="sidecenter-firstsection-inputs">
                    <div>Publico General</div>
                    <label class="search-icon">
                        <svg width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <path d="m21 21-4.34-4.34"/>
                            <circle cx="11" cy="11" r="8"/>
                        </svg>
                    </label>
                    <input type="text" class="sku" name="sku" id="sku" placeholder="Codigo del producto">
                    <label for="sku" class="sku-icon">
                        <svg width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <path d="m21 21-4.34-4.34"/>
                            <circle cx="11" cy="11" r="8"/>
                        </svg>
                    </label>
                </div>
            </div>
            <div class="sidecenter-secondsection">
                <div class="secondsection-item1">

                    <span>Armazones</span>
                </div>
                <div class="secondsection-item2">
                    <span>Materiales</span>
                </div>
                <div class="secondsection-item3">
                    <span>Accesorios</span>
                </div>
                <div class="secondsection-item4">
                    <span>Servicios</span>
                </div>
            </div>
            <div class="sidecenter-thirdsection">
                <span class="thirdsection-title">Selecciona el producto</span>
                <div class="thirdsection-content">
                    <div>1</div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
        <div class="sales-sideright"></div>
    </div>
</body>
</html>