.overlay {
  width: 100vw;
  height: 100vh;
  position: absolute;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
  z-index: 1000;
}

.paymentContainer {
  width: 30vw;
  height: 70vh;
  background-color: #fafdfd;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 15px 15px 7px 7px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.paymentContainer .sliderContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 90%;
  height: 30%;
}

.paymentContainer .sliderContainer .back,
.paymentContainer .sliderContainer .next {
  width: auto;
  height: auto;
  background-color: #f0f0f0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.paymentContainer .sliderContainer .sliderPayments {
  width: 70%;
  height: 100%;
  position: relative;
}

.paymentContainer .sliderContainer .sliderPayments img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.paymentContainer .sliderContainer .sliderPayments img:not(img:first-child) {
  display: none;
}