<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="test-salesform.css">
</head>
<body>
    <div class="container-sales">
        <div class="sales-sideleft"></div>
        <div class="sales-sidecenter">
            <div class="sidecenter-firstsection">
                <div class="sidecenter-firstsection-title">
                    <span>Menu Principal</span>
                </div>
                <div class="sidecenter-firstsection-inputs">
                    <div>Publico General</div>
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="m21 21-4.34-4.34"/>
                        <circle cx="11" cy="11" r="8"/>
                    </svg>
                    <input type="text" class="sku" name="sku" id="sku" placeholder="Codigo del producto">
                    <label for="sku" class="sku-icon">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <path d="m21 21-4.34-4.34"/>
                            <circle cx="11" cy="11" r="8"/>
                        </svg>
                    </label>
                </div>
            </div>
            <div class="sidecenter-secondsection"></div>
            <div class="sidecenter-thirdsection"></div>
        </div>
        <div class="sales-sideright"></div>
    </div>
</body>
</html>