@import url('../../styles/config.css');

body {
    margin: 0;
    padding: 0;
    background-color: #fafafa;
    font-family: var(--font);
}

.container-sales {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.container-sales > div {
    position: relative;
    top: 10vh;
}

.sales-sideleft {
    height: 80vh;
    width: 5vw;
    background-color: #fdfefe;
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sales-sidecenter {
    height: 80vh;
    width: 59vw;
    background-color: transparent;
    display: flex;
    flex-direction: column;
}

.sales-sideright {
    height: 80vh;
    width: 33vw;
    background-color: #fdfefe;
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Side Center Styles */
.sales-sidecenter .sidecenter-firstsection {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 13%;
}

.sales-sidecenter .sidecenter-firstsection .sidecenter-firstsection-title {
    width: 40%;
    display: flex;
    align-items: center;
}

.sales-sidecenter .sidecenter-firstsection .sidecenter-firstsection-inputs {
    width: 60%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.sidecenter-firstsection-inputs div {
    position: absolute;
    top: 0;
    left: 24px;
    font-size: var(--fontsize-regular);
    width: calc(98% - 24px);
}

.sidecenter-firstsection-inputs .search-icon {
    position: absolute;
    top: 0;
    width: 98%;
    border: 1px solid black;
    border-radius: 7px;
}

.sidecenter-firstsection-inputs input {
    position: absolute;
    bottom: 0;
    width: calc(98% - 24px);
    left: 24px;
    height: var(--input-height);
    font-size: var(--fontsize-regular);
    background-color: transparent;
    border: none;
    outline: none;
}

.sidecenter-firstsection-inputs .sku-icon {
    position: absolute;
    bottom: 0;
    width: 98%;
    border: 1px solid black;
    border-radius: 7px;
}

.sidecenter-firstsection-title span {
    font-size: var(--fontsize-titles);
}

.sidecenter-secondsection {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 15px;
    width: 100%;
    height: 10%;
}

.sidecenter-secondsection div {
    height: 100%;
    width: 10%;
    background-color: #fdfefe;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
}

.sidecenter-secondsection span {
    position: relative;
    height: 100%;
    width: 10%;
    display: flex;
    align-items: end;
    transform: translateY(18px);
}

/* Side Center Third Section */
.sidecenter-thirdsection {
    width: 100%;
    height: 77%;
    padding-top: 30px;
    overflow-y: auto;
}

.sidecenter-thirdsection .thirdsection-title {
    font-size: var(--fontsize-titles);
}

.sidecenter-thirdsection .thirdsection-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 77%;
    gap: 10px;
}

.sidecenter-thirdsection .thirdsection-content div {
    height: 120px;
    width: 120px;
    background-color: black;
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}