<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IVA y Dolar</title>
    <link rel="stylesheet" href="test.css">
</head>
<body>
    <div class="overlay">
        <div class="paymentContainer">
            <h2 class="title">Registro de pago</h2>
            <h3>Forma de pago</h3>
            <div class="sliderContainer">
                <button class="back">-</button>
                <div class="sliderPayments">
                    <img src="../../images/cash-mx.jpg" alt="">
                    <img src="../../images/cash-eu.jpg" alt="">
                    <img src="../../images/creditcard.png" alt="">
                    <img src="../../images/spei.jpg" alt="">
                    <img src="../../images/giftcard2.png" alt="">
                </div>
                <button class="next">+</button>
            </div>
        </div>      
    </div>
</body>
<script>
    const slider = document.querySelector('.sliderPayments');
    const backButton = document.querySelector('.back');
    const nextButton = document.querySelector('.next');

    backButton.onclick = () => {
        slider.append(slider.querySelector('img:first-child'));
    }

    nextButton.onclick = () => {
        slider.prepend(slider.querySelector('img:last-child'));
    }
</script>
</html>