@import url('../../styles/config.css');

body {
    margin: 0;
    padding: 0;
    background-color: #fafafa;
    font-family: var(--font);
}

.container-sales {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.container-sales > div {
    position: relative;
    top: 2vh;
}

.sales-sideleft {
    height: 85vh;
    width: 5vw;
    background-color: #fdfefe;
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sales-sidecenter {
    height: 85vh;
    width: 59vw;
    background-color: transparent;
    display: flex;
    flex-direction: column;
}

.sales-sideright {
    height: 85vh;
    width: 33vw;
    background-color: #fdfefe;
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.separator {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 20px);
    height: 1px;
    margin: 10px 10px 10px 10px;
    background-color:#D0D3D4;
}

/* Side Center Styles */
.sales-sidecenter .sidecenter-firstsection {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 13%;
}

.sales-sidecenter .sidecenter-firstsection .sidecenter-firstsection-title {
    width: 40%;
    display: flex;
    align-items: center;
}

.sales-sidecenter .sidecenter-firstsection .sidecenter-firstsection-inputs {
    width: 60%;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: -3px;
}

.sidecenter-firstsection-inputs div {
    position: absolute;
    top: 0;
    left: 24px;
    font-size: var(--fontsize-regular);
    width: calc(98% - 24px);
}

.sidecenter-secondsection > div:hover {
    background: linear-gradient(90deg,rgba(0, 102, 255, 0.72) 8%, rgba(0, 102, 255, 1) 100%);
}

.sidecenter-secondsection > div:hover svg {
    color: #fafafa;
}

.sidecenter-secondsection > div:hover span {
    color: #020202;
    font-weight: 600;
}

.sidecenter-firstsection-inputs .search-icon {
    position: absolute;
    top: 0;
    width: 98%;
    border: 1px solid #D0D3D4;
    border-radius: 7px;
}

.sidecenter-firstsection-inputs input {
    position: absolute;
    bottom: 0;
    width: calc(98% - 24px);
    left: 24px;
    height: var(--input-height);
    font-size: var(--fontsize-regular);
    background-color: transparent;
    border: none;
    outline: none;
}

.sidecenter-firstsection-inputs .sku-icon {
    position: absolute;
    bottom: 0;
    width: 98%;
    border: 1px solid #D0D3D4;
    border-radius: 7px;
}

.sidecenter-firstsection-title span {
    font-size: var(--fontsize-titles);
}

.sidecenter-secondsection {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 15px;
    width: 100%;
    height: 10%;
}

.sidecenter-secondsection div {
    height: 100%;
    width: 10%;
    background-color: #fdfefe;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
}

.secondsection-item {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding-top: 20px;
    cursor: pointer;
    transition: background 0.2s ease, box-shadow 0.4s ease;
}

.secondsection-item span {
    color: #D0D3D4;
    margin-top: 5px;
}

.secondsection-item svg {
    width: 45px;
    height: 45px;
    flex-shrink: 0;
}

.radio-item:checked + .secondsection-item {
    background: linear-gradient(90deg,rgba(255, 165, 0, 0.72) 8%, rgba(255, 165, 0, 1) 100%);
    color: white;
    border-radius: 7px;
    box-shadow: 0 0 12px rgba(0, 102, 255, 0.5);
}

.radio-item:checked + .secondsection-item span {
    color: #020202;
    font-weight: 600;
}

/* Side Center Third Section */
.sidecenter-thirdsection {
    display: flex;
    position: relative;
    width: 100%;
    height: 77%;
}

.sidecenter-thirdsection .thirdsection-title {
    font-size: var(--fontsize-titles);
    margin-top: 30px;
}

.sidecenter-thirdsection .thirdsection-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    margin-top: 30px;
    align-items: start;
    width: 100%;
    flex-grow: 1;
    overflow-y: auto;
    gap: 10px;
}

.sidecenter-thirdsection .thirdsection-content .content-image {
    height: 120px;
    width: 120px;
    background-color: #fdfefe;
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sidecenter-thirdsection .thirdsection-content .content-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 7px;
}

/* Right side style */
.sideright-firstsection {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
}

.sideright-secondsection {
    width: 100%;
    height: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.sideright-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 60%;
    font-size: var(--fontsize-titles);
    font-weight: 600;
}

.sideright-deleteIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 40%;
    margin-top: 5px;
}

.deleteIcon-container {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
}

.deleteIcon-container svg {
    height: 50px;
    width: 50px;
    color: #D0D3D4;
}

.deleteIcon-container:hover svg {
    color: #020202;
    cursor: pointer;
}

.sideright-secondsection .item {
    width: 90%;
    height: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 7px;
}

.sideright-secondsection .item:hover {
    background-color: var(--color-hover-gray);
}

.sideright-secondsection .item .item-delete {
    height: 100%;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px 0 0 7px;
}

.sideright-secondsection .item .item-delete svg {
    color: #D0D3D4;
}

.sideright-secondsection .item .item-delete:hover svg {
    cursor: pointer;
    color: #FFA500;
    transition: transform 0.2s;
    transform: scale(1.5);
}

.sideright-secondsection .item .item-product {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sideright-secondsection .item .item-product .product-image {
    width: 20%;
    height: 60%;
}

.sideright-secondsection .item .item-product .product-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.sideright-secondsection .item .item-product .product-details {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sideright-secondsection .item .item-product .product-details > span {
    margin-left: 15px;
}

.sideright-secondsection .item .item-product .product-details .details-description {
    font-size: 0.8rem;
    font-weight: 600;
}

.sideright-secondsection .item .item-product .product-details .details-price {
    color: red;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sideright-secondsection .item .item-button {
    height: 90%;
    width: 21%;
    display: flex;
    border: 1px solid #FFA500;
    border-radius: 7px;
}

.sideright-secondsection .item .item-button .button-quantity {
    width: 60%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sideright-secondsection .item .item-button .button-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 40%;
    height: 100%;
}

.sideright-secondsection .item .item-button .button-buttons > button {
    background: linear-gradient(90deg,rgba(255, 165, 0, 0.72) 8%, rgba(255, 165, 0, 1) 100%);
    width: 100%;
    height: 53%;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.sideright-secondsection .item .item-button .button-buttons .buttons-plus {
    border-top-right-radius: 7px;
    color: #fafafa;
}

.sideright-secondsection .item .item-button .button-buttons .buttons-plus:hover,
.sideright-secondsection .item .item-button .button-buttons .buttons-minus:hover {
    cursor: pointer;
    color: #020202;
}

.sideright-secondsection .item .item-button .button-buttons .buttons-plus:active,
.sideright-secondsection .item .item-button .button-buttons .buttons-minus:active {
    transition: transform 0.1s ease-in-out;
    transform: scale(1.3);
}

.sideright-secondsection .item .item-button .button-buttons .buttons-minus {
    border-bottom-right-radius: 7px;
    color: #fafafa;
}

.sideright-secondsection .item .item-price {
    height: 100%;
    width: 19%;
    border-radius: 0 7px 7px 0;
    font-size: 0.9rem;
    font-weight: 600;
    color: red;
    display: flex;
    align-items: center;
}

/* */
.sideright-thirdsection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.thirdsection-discount {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.thirdsection-discount details {
    position: relative;
}

.thirdsection-discount details summary {
    list-style: none;
}

.thirdsection-discount details[open] svg {
    background-color: #FFA500;
    border-radius: 5px;  
}

.thirdsection-discount details summary svg {
    margin-left: 5px;
    transform: translateY(35%);
}

.thirdsection-discount details summary svg:hover {
    cursor: pointer;
}

.thirdsection-discount details ul {
    position: absolute;
    list-style: none;
    width: max-content;
    padding: 0;
    background: linear-gradient(90deg,rgba(255, 165, 0, 0.72) 8%, rgba(255, 165, 0, 1) 100%);
    left: 130%;
    top: 0;
    border-radius: 7px;
    user-select: none;
}

.thirdsection-discount details ul li {
    padding: 5px 15px;
    cursor: pointer;
    font-weight: 600;
    border-radius: 7px;
}

.thirdsection-discount details ul li:hover {
    background-color: #D0D3D4;
}

.sideright-thirdsection div {
    font-weight: 600;
    padding-top: 3px;
}

.sideright-thirdsection > div:nth-child(1n) {
    padding-left: 15px;
}

.sideright-thirdsection > div:nth-child(2n) {
    text-align: right;
    padding-right: 15px;
}

.sideright-thirdsection .thirdsection-total {
    color: red;
    font-weight: bolder;
}

/* Estilos sideright - cuarta seccion derecha */
.sideright-forthsection {
    display: flex;
    flex-direction: column;
}

.forthsection-buttonRegisterPay {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
}

.buttonRegisterPay-button {
    background: linear-gradient(90deg,rgba(255, 165, 0, 0.72) 8%, rgba(255, 165, 0, 1) 100%);
    border: none;
    font-size: var(--fontsize-titles);
    font-weight: 600;
    border-radius: 7px;
    color: #fafafa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 5px 60px 5px 60px;
    cursor: pointer;
}

.buttonRegisterPay-button:active {
    transition: transform 0.1s ease-in-out;
    transform: scale(1.1);
}