<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="../styles/sales.css">
</head>
<body>
    <form class="formSales">
        <div class="container">
            <div class="container--menu"></div>
            <div class="cantainer--iconArticle">
                <img src="../icons/article.svg">
            </div>
            <input type="text" class="container--inputArticule" placeholder="Codigo del articulo"></input>
            <div class="container--iconSearchArticle addItem">
                <img src="../icons/searchArticle.svg">
            </div>
            <div class="container--iconTicket">
                <img src="../icons/ticket.svg">
            </div>
            <input type="number" class="containr--inputTicket" placeHolder="Numero de ticket"> </input>
            <div class="container--iconClient">
                <img src="../icons/client.svg">
            </div>
            <input type="text" class="container--clientName" placeholder="Nombre del cliente" value="Publico General"></input>
            <div class="container--quantityItems">Cantidad </div>
            <div class="container--description">Descripcion item</div>
            <div class="container--price">Precio Unit.</div>
            <div class="container--discount">Descuento</div>
            <div class="container--iva iva">IVA<span class="amount--percentIVA">0%</span></div>
            <div class="container--amount">Importe</div>
            <div class="container--iconSearchClient searchClient">
                <img src="../icons/searchClient.svg">
            </div>
            <div class="container--imageLogo"></div>
            <div class="container--iconPay btnPay" title="Pagar">
                <img src="../icons/pay.svg">
            </div>
            <div class="container--iconQuote" title="Cotizar">
                <img src="../icons/quote.svg">
            </div>
            <div class="container--iconRecoverQuote" title="Recuperar cotizacion">
                <img src="../icons/recoverQuote.svg">
            </div>
            <div class="container--iconCancel btnResetSale" title="Cancelar">
                <img src="../icons/cancel.svg">
            </div>
            <div class="container--totalPrice">Total: $0.00</div>
            <div class="container--infoDolarPrice">
                <div class="subtotalValue">Sub Total:<span>$0.00</span></div>
                <div class="discountValue">Descuento:<span>$0.00</span></div>
                <div class="ivaValue">IVA:<span>$0.00</span></div>
            </div>
            <div class="container--shoppingArticles" data-tooltip="Articulos de la venta"></div>
        </div>
    </form>
</body>
</html>