<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alta de articulos</title>
    <link rel="stylesheet" href="../styles/products.css">
</head>
<body>
    <div class="containerProducts">
        <div class="div1">Titulo</div>
        <div class="div2">SKU</div>
        <div class="div3">Categoria</div>
        <div class="div4">Cantidad</div>
        <div class="div5">Precio de Compra c/IVA</div>
        <div class="div6">Precio de Compra s/IVA</div>
        <div class="div7">IVA</div>
        <div class="div8">Precio de Venta</div>
        <div class="div9">Utilidad Neta</div>
        <div class="div10">Botones</div>
    </div>
</body>
</html>