<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abonos</title>
</head>
<body>
    <div class="billPaymentsContainer">
        <div class="payments__first">
            <span class="payment__title">No. de Nota</span>
            <div class="payment__Container">
                <input class="payment__input" id="payment__input" type="search" name="payment__input" placeholder="No. de nota">
                <label for="payment__input" class="payment__label">
                    <svg width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="m21 21-4.34-4.34"/>
                        <circle cx="11" cy="11" r="8"/>
                    </svg>
                </label>
            </div>
        </div>
        
        <div class="payments__second">
            <span class="payment__title">Articulos</span>
        </div>
        
        <div class="payments__third">
            <span class="payment__title">Pagos</span>
        </div>
    </div>
</body>
</html>