<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="../styles/menu4.css">
</head>
<body>
    <nav class="nav-menu">
        <div class="title">PdV Optico</div>
        <label class="main menu--item1">Ventas
        </label>
    
        <label class="main menu--item2">Abonos
            <input class="inp" checked="" type="checkbox" />
            <section class="menu-container">
                <div class="menu-list">Registro</div>
                <div class="menu-list">Busqueda</div>
                <div class="menu-list">Cancelaciones</div>
            </section>
        </label>
        
        <label class="main menu--item3">Cotizaciones
            <input class="inp" checked="" type="checkbox" />
            <section class="menu-container">
                <div class="menu-list">Busqueda</div>
                <div class="menu-list">Cancelaciones</div>
            </section>
        </label>

        <label class="main menu--item4">Consultas
            <input class="inp" checked="" type="checkbox" />
            <section class="menu-container">
                <div class="menu-list">Ventas por dia</div>
            </section>
        </label>

        <label class="main menu--item5">Reportes
            <input class="inp" checked="" type="checkbox" />
            <section class="menu-container">
                <div class="menu-list">Ventas</div>
            </section>
        </label>

        <label class="main menu--item6">Finanzas
            <input class="inp" checked="" type="checkbox" />
            <section class="menu-container">
                <div class="menu-list">Corte</div>
            </section>
        </label>

        <label class="main menu--item7">Operaciones
        </label>

        <label class="main menu--item8">Configuracion
            <input class="inp" checked="" type="checkbox" />
            <section class="menu-container">
                <div class="menu-list paramsSales">Parametros de venta</div>
            </section>
        </label>
        
        <label class="main menu--item9">Desconectar
            <input class="inp" checked="" type="checkbox" />
            <section class="menu-container">
                <div class="menu-list">Log out</div>
            </section>
        </label>
    </nav>
</body>
</html>