<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alta de articulos</title>
    <link rel="stylesheet" href="../styles/products.css">
</head>
<body>
    <div class="containerProducts">
        <div class="products--title"><h2>Registro de Articulos</h2></div>
        <div class="products--sku">
            <input class="sku--input" id="sku--input" type="text">
            <label for="sku--input">SKU</label>
        </div>
        <div class="products--category">
            <input class="category--input" id="category--input" type="text">
            <label for="category--input">Categoria</label>
        </div>
        <div class="products--quantity">
            <input class="quantity--input" id="quantity--input" type="text">
            <label for="quantity--input">Cantidad</label>
        </div>
        <div class="products--pricePurchaseExcludingIVA">Precio de Compra s/IVA</div>
        <div class="products--pricePurchaseIncludingIVA">Precio de Compra C/IVA</div>
        <div class="products--IVA">IVA</div>
        <div class="products--salePrice">Precio de Venta</div>
        <div class="products--netProfit">Utilidad Neta</div>
        <div class="products--buttons">Botones</div>
    </div>
</body>
</html>