<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abonos</title>
    <link rel="stylesheet" href="../styles/billpayments.css">
</head>
<body>
    <div class="billPaymentsContainer">
        <div class="payments__first">
            <div class="payment__title">Busqueda</div>
            <div class="payment__Container">
                <input class="payment__input" id="payment__input" type="search" name="payment__input" placeholder="No. de folio">
                <label for="payment__input" class="payment__label">
                    <svg width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="m21 21-4.34-4.34"/>
                        <circle cx="11" cy="11" r="8"/>
                    </svg>
                </label>
                <button class="payment__search">Buscar</button>
            </div>
        </div>
        
        <div class="payments__second">
            <span class="payment__title">Nota: </span>
            <div class="payment__clientContainer">
                <div>
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
                        <path d="M12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2ZM12.1597 16C10.1243 16 8.29182 16.8687 7.01276 18.2556C8.38039 19.3474 10.114 20 12 20C13.9695 20 15.7727 19.2883 17.1666 18.1081C15.8956 16.8074 14.1219 16 12.1597 16ZM12 4C7.58172 4 4 7.58172 4 12C4 13.8106 4.6015 15.4807 5.61557 16.8214C7.25639 15.0841 9.58144 14 12.1597 14C14.6441 14 16.8933 15.0066 18.5218 16.6342C19.4526 15.3267 20 13.7273 20 12C20 7.58172 16.4183 4 12 4ZM12 5C14.2091 5 16 6.79086 16 9C16 11.2091 14.2091 13 12 13C9.79086 13 8 11.2091 8 9C8 6.79086 9.79086 5 12 5ZM12 7C10.8954 7 10 7.89543 10 9C10 10.1046 10.8954 11 12 11C13.1046 11 14 10.1046 14 9C14 7.89543 13.1046 7 12 7Z">
                        </path>
                    </svg>
                    <span>Cliente</span> 
                </div>
                <div class="payment__clientName">Descoocido</div>    
            </div>
            <div class="payment__divisor"></div>
            <div class="payment__articles">
                <label>Articulos</label>
                <div class="payment__items">
                    <div class="payment__icon">
                        <svg fill="none" viewBox="0 0 16 16" height="18" width="18">
                            <rect rx="8" height="16" width="16"></rect>
                            <path stroke-linejoin="round" stroke-linecap="round" stroke-width="1.5" stroke="white" d="M5 8.5L7.5 10.5L11 6"></path>
                        </svg>
                    </div>
                    <div class="payment__articleDescription">
                        <span>x2 Monofocal Blueblskahdkjsahdjhasjkhdkjahskjdhkashdkhaskjdhsjahock</span>
                    </div>
                    <div class="payment__totalPrice">
                        <span>$150000.25</span>
                    </div>
                </div>                
            </div>
            <div class="payments__summary">
                Total: <span>$10200.25</span>
            </div>
        </div>
        
        <div class="payments__third">
            <span class="payment__title">Datos</span>
            <div class="payment__data">
                <div class="payment__dataDate">
                    <svg viewBox="0 0 24 24" fill="currentColor" width="20">
                        <path d="M17 3H21C21.5523 3 22 3.44772 22 4V20C22 20.5523 21.5523 21 21 21H3C2.44772 21 2 20.5523 2 20V4C2 3.44772 2.44772 3 3 3H7V1H9V3H15V1H17V3ZM4 9V19H20V9H4ZM6 13H11V17H6V13Z"></path>
                    </svg>Fecha de Compra
                </div>
                <div class="payment__date">21/01/2025</div>
                <div>
                    <label>Pagos</label>
                </div>
                <div class="payment__paymentsSummary">
                    <div class="payment__summaryDetails">
                        <div class="payment__datePayment">
                            21/01/2025
                        </div>
                        <div class="payment__iconSummary">
                            <svg viewBox="0 0 24 24" fill="currentColor" width="20">
                                <path d="M12.0049 22.0027C6.48204 22.0027 2.00488 17.5256 2.00488 12.0027C2.00488 6.4799 6.48204 2.00275 12.0049 2.00275C17.5277 2.00275 22.0049 6.4799 22.0049 12.0027C22.0049 17.5256 17.5277 22.0027 12.0049 22.0027ZM8.50488 14.0027V16.0027H11.0049V18.0027H13.0049V16.0027H14.0049C15.3856 16.0027 16.5049 14.8835 16.5049 13.5027C16.5049 12.122 15.3856 11.0027 14.0049 11.0027H10.0049C9.72874 11.0027 9.50488 10.7789 9.50488 10.5027C9.50488 10.2266 9.72874 10.0027 10.0049 10.0027H15.5049V8.00275H13.0049V6.00275H11.0049V8.00275H10.0049C8.62417 8.00275 7.50488 9.12203 7.50488 10.5027C7.50488 11.8835 8.62417 13.0027 10.0049 13.0027H14.0049C14.281 13.0027 14.5049 13.2266 14.5049 13.5027C14.5049 13.7789 14.281 14.0027 14.0049 14.0027H8.50488Z"></path>
                            </svg>
                        </div>
                        <div class="payment__type">
                            <span>Efectivo</span>
                        </div>
                        <div class="payment__totalPay">
                            <span>$1500.00</span>
                        </div>
                    </div>

                </div>
                <div class="payment__payments">
                    <div><span>Total abonado: </span><span>$1025.25</span></div>
                    <div><span>Saldo Pendiente: </span><span>$1200.75</span></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>