<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="../styles/menu4.css">
</head>
<body>
    <nav class="nav-menu">
        <div class="title"><img src="../icons/FernaSoft.svg"></img>PdV Optico</div>
        <label class="main">Menu
            <input class="inp" checked="" type="checkbox" />
            <div class="bar">
                <span class="top bar-list"></span>
                <span class="middle bar-list"></span>
                <span class="bottom bar-list"></span>
            </div>
            <section class="menu-container">
                <div class="menu-list">Food</div>
                <div class="menu-list">Entertainment</div>
                <div class="menu-list">Blog</div>
                <div class="menu-list">Location</div>
            </section>
        </label>
        
        <details>
            <summary>    
                <div class="menu--item1">Ventas</div>
            </summary>            
        </details>
        <details>
            <summary>
                <div>Abonos</div>
            </summary>
            <ul>
                <li>Registro</li>
                <li>Busqueda</li>
                <li>Cancelar</li>
            </ul>
        </details>
        <details>
            <summary>
                <div>Cotizaciones</div>
            </summary>
            <ul>
                <li>Cotizar</li>
                <li>Busqueda</li>
            </ul>
        </details>
        <details>
            <summary>
                <div>Consultas</div>
            </summary>
            <ul>
                <li>Ventas por dia</li>
            </ul>
        </details>
        <details>
            <summary>
                <div>Reportes</div>
            </summary>
            <ul>
                <li>Ventas</li>
            </ul>
        </details>
        <details>
            <summary>
                <div>Finanzas</div>
            </summary>
            <ul>
                <li>Corte</li>
            </ul>
        </details>
        <details>
            <summary>
                <div class="menu--item7">Operaciones</div>
            </summary>
            <ul>
                <li>Clientes</li>
            </ul>
        </details>
        <details>
            <summary>
                <div>Configuracion</div>
            </summary>
            <ul>
                <li>Configuracion</li>
            </ul>
        </details>
        <details>
            <summary>
                <div>Desconectar</div>
            </summary>
            <ul>
                <li>Logout</li>
            </ul>
        </details>
    </nav>
</body>
</html>