@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.billPaymentsContainer {
    display: flex;
    flex-direction: row;
    animation: showForm 0.5s ease-in-out;
    position: relative;
    border-radius: 7px;
    width: 100vw;
    height: 87vh;
    font-family: "Poppins";
    left: 15px;
}

.payment__divisor {
    width: 100%;
    border-bottom: 1px solid #80808033;
}

.billPaymentsContainer > div {
    width: 31%;
    height: 80%;
    background-color: #fdfefe;
    border-radius: 7px;
    position: relative;
    top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    background: linear-gradient(180deg, #DCF9E0 0%, #FFFFFF 10.21%);
    box-shadow: 0px 97px 75px rgba(0, 0, 0, 0.01), 
        0px 105px 63px rgba(0, 0, 0, 0.05), 
        0px 47px 47px rgba(0, 0, 0, 0.09), 
        0px 12px 26px rgba(0, 0, 0, 0.1), 
        0px 0px 0px rgba(0, 0, 0, 0.1);
}

.billPaymentsContainer .payments__first {
    width: 20%;
    height: 17%;
    background: linear-gradient(180deg, #DCF9E0 0%, #FFFFFF 45.21%);
}

.payment__title {
    width: 100%;
    font-size: 0.9rem;
    padding: 10px 0;
    text-align: center;
    border-bottom: 1px solid #80808033;
}

.payment__Container {
    height: 32px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}

.payment__input {
    width: 60%;
    border: 1px solid #D0D3D4;
    outline: none;
    margin-top: 10px;
    position: relative;
    height: 32px;
    padding-left: 35px;
    border-radius: 10px;
}

.payment__label {
    position: relative;
    height: 100%;
    left: -60%;
    top: 50%;
    transform: translateY(-25%);
}

.payment__search {
    height: 32px;
    padding: 0 15px;
    width: max-content;
    position: relative;
    top: 4px;
    background: linear-gradient(90deg,rgba(255, 165, 0, 0.72) 8%, rgba(255, 165, 0, 1) 100%);
    cursor: pointer;
    border: none;
    border-radius: 7px;
    transition: 0.2s;
    opacity: 1;
}

.payment__input:placeholder-shown ~ .payment__search {
    pointer-events: none;
    background-color: gray;
    transition: 0.2s;
    opacity: 0.5;
}

.payment__clientContainer {
    width: 100%;
    font-size: 0.9rem;
}

.payment__clientContainer div:nth-child(1) {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 15px 0 5px 15px;
}

.payment__clientName {
    font-weight: 300;
    margin: 0 0 15px 15px;
    width: max-content;
    color: #fafafa;
    width: 90%;
    border-radius: 5px;
    background: #00000099;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.payments__summary, .payment__payments {
    position: absolute;
    bottom: 15px;
    border-top: 1px solid #80808033;
    width: 100%;
    text-align: center;
    padding-top: 15px;
    font-size: 1.5rem;
}

.payments__summary span {
    color: red;
    font-size: 600;
}

.payment__articles, .payment__paymentsSummary {
    width: 100%;
    height: 58%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    box-sizing: content-box;
}

.payment__articles > label,
.payment__labelArticles {
    color: red;
    margin: 5px 0 10px 0;
    font-size: 1rem;
}

.payment__data > div:nth-child(3) {
    color: red;
    padding: 5px 0 10px 0;
    font-size: 1rem;
    width: 100%;
    text-align: center;
}

.payment__items,
.payment__summaryDetails {
    width: 100%;
    font-size: 0.8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.payment__items .payment__icon,
.payment__summaryDetails .payment__iconSummary {
    width: 5%;
    margin-left: 10px;
}

.payment__datePayment {
    margin-left: 10px;
    font-weight: 600;
}

.payment__items .payment__icon svg {
    fill: blue;
}

.payment__items .payment__articleDescription,
.payment__summaryDetails .payment__type {
    width: 78%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.payment__items .payment__totalPrice,
.payment__summaryDetails .payment__totalPay {
    width: 17%;
    margin-right: 10px;
    color: red;
    font-weight: 600;
}

.payment__data {
    width: 100%;
    font-size: 0.8rem;
}

.payment__data .payment__dataDate {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
}

.payment__data .payment__date {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #80808033;
    padding-bottom: 12px;
    color: red;
    font-weight: 600;
}

.payment__payments {
    position: absolute;
    border-top: 1px solid #80808033;
    width: 100%;
    margin: 0;
    font-size: 1rem;
}

.payment__payments div:nth-child(1) span:nth-child(2) {
    color: red;
}

.payment__payments div:nth-child(2) span:nth-child(2) {
    color: blue;
}