:root {
    --bk-main: #f6f6f6;
    --bk-windows: #fefdfc;
    --colortext-regular: #2f2f2f;
    --colortext-label: #71717a;
    --fontsize-titles: 1.9rem;
    --fontsize-menu-main: 1.3rem;
    --fontsize-menu-option: 1rem;
}   