@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('menu5.css');
@import url('karnexnote.css');
@import url('billpayments.css');
@import url('errorMessage.css');
@import url('main.css');
@import url('alerts.css');
@import url('saleTicket.css');
@import url('sales.css');
@import url('operations.css');
@import url('clients.css');
@import url('registerProduct.css');
@import url('productDetails.css');
@import url('prescription.css');
@import url('discountPromt.css');
@import url('loader.css');
@import url('summarySale.css');
@import url('searchClientForm.css');
@import url('quotationPrompt.css');
@import url('materialsout.css');

:root {
    --bk-main: #fafafa;
    --bk-window: #1c1c1c;
    --bk-hover: #1A3838;
    --colortext-regular: #f6f6f6;
    --colortext-li: #fde4c3;
    --colortext-options: #e5924a;
    --fontsize-titles: 1.9rem;
    --fontsize-menu-main: 1rem;
    --fontsize-menu-option: 0.8rem;
    --fontsize-regular: 1.1rem;
    --div-height: 24px;
    --input-height: 24px;
    --font: "Poppins", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans';

    --color-hover-gray: #eaf1f3;
    --color-button: #ffcb74;
    --bk-button: linear-gradient(90deg,rgba(255, 165, 0, 0.72) 8%, rgba(255, 165, 0, 1) 100%);
    --color-window: #f6f6f6;
    --colortext-price: #e61b0d;
    --colortext-generic: #111111;

    --color-gray-light: #D0D3D4;
    --color-gray-med: #BDBDBD;
    --color-bg-white: #fdfefe;
    --color-bg-soft: #fafafa;
    --color-red: red;
    --color-orange: #FFA500;
    --color-black: #020202;
    --color-hover: var(--color-hover-gray);
}   