.overlayPromptDiscount {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #00000022;
    backdrop-filter: blur(1px);
    z-index: 1100;
}

.promptDiscount {
    min-width: 230px;
    max-width: 300px;
    background-color: #fdfdfd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.promptDiscount .cancelSetDiscountBtn {
    padding: 12px;
    font-weight: 600;
    border: none;
    background: linear-gradient(90deg,rgba(255, 165, 0, 0.72) 8%, rgba(255, 165, 0, 1) 100%);
    border-radius: 7px;
    cursor: pointer;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.promptDiscount .cancelSetDiscountBtn:hover {
    transition: color 0.2s;
    color: #fdfdfd;
    
}

.discount-container {
    position: relative;
    display: flex;
    height: 2.8rem;
    width: 100%;
    min-width: 200px;
    max-width: 250px;
    background-color: #fff;
    border-radius: 8px;
    margin-top: 12px;
}

.discount-container .discountInputValue {
    height: 100%;
    width: 100%;
    border-radius: 8px;
    border: 1px solid  rgb(176, 190, 197);
    background-color: transparent;
    padding: 0rem 70px 0rem 0.75rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
    color: rgb(69 90 100);
    outline: none;
    transition: all .15s cubic-bezier(0.4, 0, 0.2, 1);
}

.discount-container .discountInputValue:focus {
    border: 1px solid #FFA500
}

.discount-container input[type=number]::-webkit-inner-spin-button,
.discount-container input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.setDiscountBtn {
    position: absolute;
    width: auto;
    right: 4px;
    top: 4px;
    bottom: 4px;
    z-index: 10;
    border-radius: 4px;
    background: linear-gradient(90deg,rgba(255, 165, 0, 0.72) 8%, rgba(255, 165, 0, 1) 100%);
    color: #fff;
    padding-top: .25rem;
    padding-bottom: .25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    transition: .6s ease;
}

.setDiscountBtn:hover {
    cursor: pointer;
}

.discount-container input:placeholder-shown ~ .setDiscountBtn {
    pointer-events: none;
    background-color: gray;
    opacity: 0.5;
}