.alert-container-error {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    gap: 0.5rem;
    width: 98vw;
    font-size: 10px;
    z-index: 8900;
    transform: translateY(100vh);
    position: absolute;
}
  
.error-alert-error {
    cursor: default;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    height: 3rem;
    background-color: #232531;
    border-radius: 0.5rem;
    padding: 0 10px;
  }
  
.alert-content-error {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
  
.alert-icon-error {
    color: #d65563;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(8px);
    padding: 0.25rem;
    border-radius: 0.5rem;
}
  
.icon {
    width: 24px;
    height: 24px;
  }
  
.alert-text-error {
    display: flex;
    flex-direction: column;
}
  
.alert-title-error {
    color: white;
    margin: 0;
}
  
.alert-description-error {
    color: #9ca3af; /* gris claro */
    margin: 0;
}
  
.alert-close-error {
    color: #6b7280;
    background: transparent;
    border: none;
    padding: 0.25rem;
    border-radius: 0.25rem;
    transition: background-color 0.2s ease;
    cursor: pointer;
}
  
.alert-close-error:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.alert-error-show {
    transition: all 0.5s ease-in-out;
    transform: translateY(-3vh);
}