body {
    margin: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    overflow: hidden;
    background: var(--color-hover-gray);
    font-family: var(--font);
}

#app {
    position: relative;
    z-index: 10;
}

div#temporaryContent {
    width: 100vw;
    box-sizing: content-box;
    transition: 0.3s;
    position: relative;
}

#calendar {
    position: absolute;
    right: -300px;
    top: 50px;
    border-radius: 8px;
    transition: 0.3s;
}

#calendar.showCalendar {
    right: 2px;
}