@import url('../../styles/config.css');

.nav-menu {
    margin: 0 auto;
    padding: 1%;
    background-color: #000;
    width: 85%;
    height: 8vh;
    position: sticky;
    display: flex;
    justify-content: end;
    align-items: center;

}

.nav-menu .title {
    font-size: var(--fontsize-titles);
    position: absolute;
    display: flex;
    align-items: center;
    left: 15px;
    color: var(--colortext-regular);
}

.nav-menu details {
    position: relative;
    padding-right: 15px;
    color: var(--colortext-regular);
}

.nav-menu summary {
    list-style: none;
    user-select: none;
}

.nav-menu summary:hover {
    cursor: pointer;
}

.nav-menu summary div {
    font-size: var(--fontsize-menu-main);
}

.nav-menu details ul {
    position: absolute;
    width: max-content;
    padding: 0;
    margin-top: 1px;
    background-color: var(--bk-window);
    left: 25px;
}

.nav-menu details ul li {
    padding: 5px 15px 15px;
    cursor: pointer;
    font-size: var(--fontsize-menu-option);
    height: 10px;
    color: var(--colortext-options);
}

.nav-menu details ul li:hover {
    background-color: var(--bk-hover);
}

.nav-menu details ul {
    list-style: none;
}