.containerProducts {
    display: grid;
    grid-template-columns: 5px 1fr 5px 1fr 5px repeat(2, 1fr) 5px;
    grid-template-rows: 5px 50px 5px 40px 5px 40px 5px 40px 5px 40px 5px 40px 5px 40px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin: 0;
    width: 80vw;
    height: 60vh;
    border: 1px solid #000;
}

.containerProducts > div {
    border: 1px solid #000;
    border-radius: 5px;
    display: flex;
}

.products--title { 
    grid-area: 2 / 2 / 3 / 8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.products--title h1 {
    width: 100%;
    height: 100%;
}

.products--sku {
    grid-area: 4 / 2 / 5 / 3;
}

.products--sku label, .products--category label {
    position: absolute;
    transform: translateY(10px) translateX(10px);
}

.products--sku input {
    border: none;
    border-radius: 5px;
    width: 100%;
}

.products--sku label:hover {
    color: blue;
    transition: all 0.3s ease-in-out;
    transform: translateY(10px) translateX(10px) scale(1.2);
}

.products--sku input:focus + label,
.products--sku input:not(:placeholder-shown) + label {
    transition: all 0.3s ease-in-out;
    transform: translateY(-8px) translateX(2px);
    background-color: #fff;
}

.products--category {
    grid-area: 6 / 2 / 7 / 5;
}

.products--category input {
    border: none;
    border-radius: 5px;
    width: 100%;
}

.products--category label:hover {
    color: blue;
    transition: all 0.3s ease-in-out;
    transform: translateY(10px) translateX(10px) scale(1.2);
}

.products--category input:focus + label,
.products--category input:not(:placeholder-shown) + label {
    transition: all 0.3s ease-in-out;
    transform: translateY(-8px) translateX(2px);
    background-color: #fff;
}

.products--quantity {
    grid-area: 6 / 6 / 7 / 8;
}

.products--pricePurchaseExcludingIVA {
    grid-area: 8 / 2 / 9 / 3;
}

.products--pricePurchaseIncludingIVA {
    grid-area: 8 / 4 / 9 / 5;
}

.products--IVA {
    grid-area: 8 / 6 / 9 / 7;
}

.products--salePrice {
    grid-area: 10 / 2 / 11 / 3;
}

.products--netProfit {
    grid-area: 12 / 2 / 13 / 3;
}

.products--buttons { 
    grid-area: 14 / 2 / 15 / 8;
}