.container--ra {
    position: relative;
    min-height: 80vh;
    min-width: 95vw;
    margin: 0;
    padding: 0;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    background: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
}

.ra--section1 {
    display: flex;
    padding: 0;
    margin: 0;
    width: 93vw;
    height: 10vh;
    background-color: blue;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}

.section1--logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 100%;
    border-top-left-radius: 7px;
}

.section1--header {
    display: flex;
    flex-direction: column;
    width: 85%;
    height: 100%;
    color: #fff;
    
}

.header--title {
    border-top-right-radius: 7px;
    font-size: 1.5rem;
}

.header--subtitle {
    font-size: 0.7rem;
}

.ra--section2, .ra--section3, .ra--section4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 0;
    margin: 0;
    width: 93vw;
    height: 12vh;
    top: 5px;
    border-radius: 7px;
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.23), -2px -1px 12px rgba(0, 0, 0, 0.1);
}

.ra--section3 {
    height: 28vh;
    margin-top: 14px;
}

.ra--section4 {
    height: 14vh;
    margin-top: 14px;
    position: relative;
}

.section4--inputs {
    height: 9vh;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
}

.sku--title svg, .description--title svg, .kindOfArticle--title svg, .image--title svg, .summary--title svg {
    fill: blue;
    position: absolute;
    transform: translate(10px, 5px);
}

.section2--sku, .section2--description, .section3--kindOfArticle, .section3--image, .section4--summary {
    width: 25%;
    height: 90%;
    border-radius: 7px;
    margin-left: 5px;
}

.section2--description {
    width: 55%;
}

.sku--title, .description--title, .kindOfArticle--title, .image--title, .summary--title {
    font-size: 1.2rem;
    font-weight: 600;
}

.input--skuCode, .input--description {
    position: absolute;
    bottom: 3px;
    height: 1.4rem;
    font-size: 1rem;
    font-weight: 600;
    width: calc(25% - 5px);
    background: #e3e3e3;
    border: none;
    border-radius: 7px;
}

.input--description {
    width: 73.5%;
}

.input--skuCode:focus, .input--description:focus {
    outline: none;
    border: 1px solid #00006656;
}

.input--labelSkuCode, .input--labelDescription {
    position: absolute;
    font-size: 0.7rem;
    font-weight: 600;
    bottom: calc(0px + 1.6rem);
}

.input--radiobutton {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 5px;
}

.input--radiobutton * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.input--radiobutton label {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 20px;
    width: max-content;
    cursor: pointer;
}

.input--radiobutton .radiobutton--label .radiobutton--text {
    font-size: 0.8rem;
    font-weight: 500;
    transition: transform 0.1s ease;
    transform: scale(1);
}

.input--radiobutton .radiobutton--label .radiobutton--text:hover {
    transition: transform 0.1s ease;
    transform: scale(1.1);
}

.input--radiobutton .radiobutton--label .radiobutton--text:active {
    transition: transform 0.1s ease;
    transform: scale(0.9);
}

/* .input--radiobutton .radiobutton--label input[type="radio"]:checked {
    transition: accent-color 2s linear;
    accent-color: #000;
} */

.input--subtitle, .image--subtitle {
    font-size: 0.7rem;
    font-weight: 600;
}

.image--subtitle:hover {
    cursor: pointer;
}

.image--container {
    width: 60%;
    height: 60%;
    border: 1px solid red;
    overflow: hidden;
    position: relative;
}

.image--zoom {
    position: absolute;
    right: calc(55vw - 25px);
    top: calc(50% - 22px);
    transition: transform 0.2s ease;
    transform: scale(1);
}

.image--zoom:hover {
    transform: scale(1.2);
    cursor: zoom-in;
}

.image--container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

  /* El cuadro flotante */
.image--preview {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(1%, -49%);
    width: 40vw;
    height: 25vw;
    background-size: contain;
    background-position: center;
    border-radius: 8px;
    box-shadow: 0 0 25px rgba(0,0,200,0.3);
    z-index: 10;
    animation: zoomIn 0.2s ease-out;
}

.image--preview img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@keyframes zoomIn {
    from {
        transform: translate(1%, -49%) scale(0.8);
        opacity: 0;
    }
    to {
        transform: translate(1%, -49%) scale(1);
        opacity: 1;
    }
}

.section4--inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.section4--inputs > div {
    width: 15%;
    height: 80%;
    border-radius: 7px;
    box-shadow: 0 0 25px rgba(0,0,200,0.3);
}

.section4--inputs label {
    font-size: 0.7rem;
    font-weight: 600;
    margin-left: 5px;
}

.section4--inputs input {
    width: calc(100% - 20px);
    margin-left: 5px;
    transform: translateY(-5px);
    height: 1.3rem;
    font-size: 1rem;
    font-weight: 600;
    background: #e3e3e3;
    border: none;
    border-radius: 7px;
}

.section4--inputs input:focus {
    outline: none;
    border: 1px solid #00006656;
}

.ra--section5 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    position: absolute;
    bottom: 0;
    transform: translateY(-25%);
}

.ra--section5 button {
    padding: 10px 20px;
    border-radius: 7px;
    font-size: 1.2rem;
}

.ra--section5 button:active {
    transition: scale 0.1s ease;
    transform: scale(0.95);
}