@import url('discountPromt.css');
@import url('loader.css');
@import url('summarySale.css');
@import url('searchClientForm.css');
@import url('quotationPrompt.css');

svg {
    pointer-events: none;
}

.container-sales {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    animation: showForm 0.5s ease-in-out;
    position: relative;
}

.container-sales > :nth-child(4):not(.overlaySearchClient) {
    all: unset;
    position: absolute;
    animation: showForm 0.5s ease-in-out;
    flex: none;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #00000022;
    backdrop-filter: blur(1px);
    z-index: 1100;
}

@keyframes showForm {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.container-sales > div {
    position: relative;
    top: 2vh;
}

.container-sales .sales-sideleft {
    height: 85vh;
    width: 6vw;
    background-color: #fdfefe;
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-sales .sales-sidecenter {
    height: 85vh;
    width: 59vw;
    background-color: transparent;
    display: flex;
    flex-direction: column;
}

.sales-sideright {
    height: 85vh;
    width: 32vw;
    background-color: #fdfefe;
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container-sales .separator {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 20px);
    height: 1px;
    margin: 10px 10px 10px 10px;
    background-color:#D0D3D4;
}

/* Side left styles */
.container-sales .sales-sideleft > * {
    width: 5.5vw;
    height: 5.5vw;
    margin-top: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 7px;
    background-color: transparent;
}

.container-sales .sales-sideleft > .sideleft-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 7px;
    transition: background 0.2s ease-in-out;
}	

.container-sales .sales-sideleft > .sideleft-button button {
    color: #D0D3D4;
}

.container-sales .sales-sideleft > .sideleft-button span {
    pointer-events: none;
    color: #D0D3D4;
}

.container-sales .sales-sideleft > .sideleft-button svg {
    color:#BDBDBD;
    pointer-events: none;
}

.container-sales .sales-sideleft > .sideleft-button:hover {
    cursor: pointer;
    background: var(--bk-button);
}

.container-sales .sales-sideleft > .sideleft-button:hover > svg {
    color: var(--colortext-regular);
    stroke-width: 2;
    pointer-events: none;
}

.container-sales .sales-sideleft > .sideleft-button:hover > span {
    font-weight: 500;
    color: #020202;
    pointer-events: none;
}

.container-sales .sales-sideleft > .sideleft-button:active {
    transition: all 0.1 ease-in-out;
    transform: scale(1.1);
}

/* Side Center Styles */
.container-sales .sales-sidecenter .sidecenter-firstsection {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 13%;
}

.container-sales .sales-sidecenter .sidecenter-firstsection .sidecenter-firstsection-title {
    width: 40%;
    display: flex;
    align-items: center;
}

.container-sales .sales-sidecenter .sidecenter-firstsection .sidecenter-firstsection-inputs {
    width: 60%;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
}

.container-sales .sidecenter-firstsection-inputs div {
    position: absolute;
    top: 0;
    left: 30px;
    font-size: var(--fontsize-regular);
    width: calc(98% - 24px);
}

.container-sales .sidecenter-firstsection-inputs label {
    height: 28px;
}

.container-sales .sidecenter-firstsection-inputs input {
    margin-left: 5px;
}

.container-sales .sidecenter-secondsection > div:hover {
    background: linear-gradient(90deg,rgba(0, 102, 255, 0.72) 8%, rgba(0, 102, 255, 1) 100%);
}

.container-sales .sidecenter-secondsection > div:hover svg {
    color: #fafafa;
}

.container-sales .sidecenter-secondsection > div svg {
    pointer-events: none;
}

.container-sales .sidecenter-secondsection > div:hover span {
    color: #020202;
    font-weight: 500;
}

.container-sales .sidecenter-firstsection-inputs .search-icon {
    position: absolute;
    display: flex;
    align-content: center;
    top: 0;
    width: 98%;
    border: 1px solid #D0D3D4;
    border-radius: 7px;
}

.container-sales .sidecenter-firstsection-inputs .search-icon:hover,
.container-sales .sidecenter-firstsection-inputs .sku-icon:hover {
    border: 1px solid rgba(0, 102, 255, 1);
}

.container-sales .sidecenter-firstsection-inputs .search-icon svg,
.container-sales .sidecenter-firstsection-inputs .sku-icon svg {
    background-color: #fafafa;
    height: 100%;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    cursor: pointer;
}

.container-sales .sidecenter-firstsection-inputs input {
    position: absolute;
    bottom: 0;
    width: calc(98% - 24px);
    left: 24px;
    height: var(--input-height);
    font-size: var(--fontsize-regular);
    background-color: transparent;
    border: none;
    outline: none;
}

.container-sales .sidecenter-firstsection-inputs .sku-icon {
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 0;
    width: 98%;
    border: 1px solid #D0D3D4;
    border-radius: 7px;
}

.container-sales .sidecenter-firstsection-title span {
    font-size: var(--fontsize-titles);
    font-weight: 500;
}

.container-sales .sidecenter-secondsection {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 15px;
    width: 100%;
    height: 10%;
}

.container-sales .sidecenter-secondsection div {
    height: 100%;
    width: 10%;
    background-color: #fdfefe;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
}

.container-sales .secondsection-item {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding-top: 20px;
    cursor: pointer;
    transition: background 0.2s ease, box-shadow 0.4s ease;
}

.container-sales .secondsection-item span {
    color: #D0D3D4;
    position: relative;
    top: 8px;
}

.container-sales .secondsection-item svg {
    width: 45px;
    height: 45px;
    flex-shrink: 0;
    color: #BDBDBD
}

.container-sales .radio-item:checked + .secondsection-item {
    background: var(--bk-button);
    color: #fafafa;
    border-radius: 7px;
    box-shadow: 0 0 12px rgba(0, 102, 255, 0.5);
}

.container-sales .radio-item:checked + .secondsection-item svg {
    color: #fafafa;
}

.container-sales .radio-item:checked + .secondsection-item span {
    color: #020202;
    font-weight: 500;
}

/* Side Center Third Section */
.container-sales .sidecenter-thirdsection {
    display: flex;
    position: relative;
    width: 100%;
    height: 77%;
}

.container-sales .sidecenter-thirdsection .thirdsection-title {
    font-size: var(--fontsize-titles);
    margin-top: 30px;
    font-weight: 500;
}

.container-sales .sidecenter-thirdsection .thirdsection-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    grid-auto-rows: auto;
    justify-items: center;
    margin-top: 30px;
    align-items: start;
    width: 100%;
    flex-grow: 1;
    overflow-y: auto;
    gap: 10px;
    background: #fafafa;
    border-radius: 5px;
}

.container-sales .sidecenter-thirdsection .thirdsection-content .content-image {
    width: 140px;
    aspect-ratio: 1 / 1; /* cuadrado */
    margin-top: 5px;
    background-color: #fdfefe;
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container-sales .sidecenter-thirdsection .thirdsection-content .content-image:hover {
    box-shadow: 0 0 10px #ffa500aa;
    cursor: pointer;
}

.container-sales .sidecenter-thirdsection .thirdsection-content .content-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    aspect-ratio: 1/1;
    border-radius: 7px;
    pointer-events: none;
}

/* Right side style */
.container-sales .sideright-firstsection {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
}

.container-sales .sideright-secondsection {
    width: 100%;
    height: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.container-sales .sideright-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 60%;
    font-size: var(--fontsize-titles);
    font-weight: 500;
}

.container-sales .sideright-title svg {
    position: relative;
    left: 1rem;
}

.container-sales .sideright-title .cartQuantity {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0.35rem;
    top: -0.4rem;
    font-size: 0.7rem;
    width: 1rem;
    height: 1rem;
    background-color: rgba(255,0,0,0.8);
    color: #fafafa;
    border-radius: 50%;
}

.container-sales .sideright-deleteIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 40%;
    margin-top: 5px;
}

.container-sales .deleteIcon-container {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
}

.container-sales .deleteIcon-container svg {
    height: 50px;
    width: 50px;
    color: #D0D3D4;
    pointer-events: none;
}

.container-sales .deleteIcon-container:hover svg {
    color: #020202;
    cursor: pointer;
}

.container-sales .sideright-secondsection .item {
    width: 90%;
    height: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 7px;
    animation: showForm 0.2s ease-in-out;
}

.sideright-secondsection .item:hover {
    background-color: var(--color-hover-gray);
}

.sideright-secondsection .item .item-delete {
    height: 100%;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px 0 0 7px;
}

.sideright-secondsection .item .item-delete svg {
    color: #D0D3D4;
    pointer-events: none;
}

.sideright-secondsection .item .item-delete:hover svg {
    cursor: pointer;
    color: #FFA500;
    transition: transform 0.2s;
    transform: scale(1.5);
}

.sideright-secondsection .item .item-product {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 0;
}

.sideright-secondsection .item .item-product .product-image {
    width: 20%;
    height: 60%;
}

.sideright-secondsection .item .item-product .product-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.sideright-secondsection .item .item-product .product-details {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 0;
}

.sideright-secondsection .item .item-product .product-details > span {
    margin-left: 15px;
}

.sideright-secondsection .item .item-product .product-details .details-description {
    font-size: 0.8rem;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.sideright-secondsection .item .item-product .product-details .details-price {
    color: red;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 0;
}

.sideright-secondsection .item .item-button {
    height: 90%;
    width: 15%;
    display: flex;
    border: 1px solid #FFA500;
    border-radius: 7px;
}

.sideright-secondsection .item .item-button .button-quantity {
    width: 60%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sideright-secondsection .item .item-button .button-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 40%;
    height: 100%;
}

.sideright-secondsection .item .item-button .button-buttons > button {
    background: var(--bk-button);
    width: 100%;
    height: 53%;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.sideright-secondsection .item .item-button .button-buttons .buttons-plus svg,
.sideright-secondsection .item .item-button .button-buttons .buttons-minus svg {
    pointer-events: none;
}

.sideright-secondsection .item .item-button .button-buttons .buttons-plus:hover,
.sideright-secondsection .item .item-button .button-buttons .buttons-minus:hover {
    cursor: pointer;
    color: #020202;
}

.sideright-secondsection .item .item-button .button-buttons .buttons-plus:active,
.sideright-secondsection .item .item-button .button-buttons .buttons-minus:active {
    transition: transform 0.1s ease-in-out;
    transform: scale(1.3);
}

.sideright-secondsection .item .item-button .button-buttons .buttons-minus,
.sideright-secondsection .item .item-button .button-buttons .buttons-plus {
    color: #fafafa;
}

.sideright-secondsection .item .item-button .button-buttons .buttons-minus {
    border-bottom-right-radius: 7px;
}

.sideright-secondsection .item .item-button .button-buttons .buttons-plus {
    border-top-right-radius: 7px;
}

.sideright-secondsection .item .item-price {
    height: 100%;
    width: 19%;
    border-radius: 0 7px 7px 0;
    font-size: 0.9rem;
    font-weight: 500;
    color: red;
    display: flex;
    align-items: center;
    justify-content: end;
}

/* */
.sideright-thirdsection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.thirdsection-discount {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.sideright-thirdsection .discount {
    color: red;
}

.thirdsection-discount details {
    position: relative;
}

.thirdsection-discount details[open] {
    animation: showForm 0.1s ease-in-out;
}

.thirdsection-discount details summary {
    list-style: none;
}

.thirdsection-discount details[open] svg {
    background-color: #FFA500;
    border-radius: 5px;  
}

.thirdsection-discount details summary svg {
    margin-left: 5px;
    transform: translateY(35%);
}

.thirdsection-discount details summary svg:hover {
    cursor: pointer;
}

.thirdsection-discount details ul {
    position: absolute;
    list-style: none;
    width: max-content;
    padding: 0;
    background: var(--bk-button);
    left: 130%;
    top: 0;
    border-radius: 7px;
    user-select: none;
}

.thirdsection-discount details ul li {
    padding: 5px 15px;
    cursor: pointer;
    font-weight: 500;
    border-radius: 7px;
}

.thirdsection-discount details ul li:hover {
    background-color: #D0D3D4;
}

.sideright-thirdsection div {
    font-weight: 500;
    padding-top: 3px;
}

.sideright-thirdsection > div:nth-child(1n) {
    padding-left: 15px;
}

.sideright-thirdsection > div:nth-child(2n) {
    text-align: right;
    padding-right: 15px;
}

.sideright-thirdsection .thirdsection-total {
    color: var(--colortext-price);
    font-weight: bolder;
}

/* Estilos sideright - cuarta seccion derecha */
.sideright-forthsection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttonRegisterPay-button {
    background: var(--bk-button);
    border: none;
    font-size: var(--fontsize-titles);
    font-weight: 500;
    border-radius: 7px;
    color: #fafafa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 5px 60px 5px 60px;
    cursor: pointer;
    margin-top: 15px;
}

.buttonRegisterPay-button:active {
    transition: transform 0.1s ease-in-out;
    transform: scale(1.1);
}