<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Operaciones</title>
    <link rel="stylesheet" href="../styles/operations.css">
</head>
<body>
    <div class="containerOperations">
        <details class="operations--card">
            <summary class="card--summary">CLIENTES</summary>
            <ul class="summary--ul">
                <li class="li--option">Atas</li>
                <li class="li--option">Bajas</li>
                <li class="li--option">Modificaciones</li>
            </ul>
        </details>
    </div>
</body>
</html>