<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Operaciones</title>
    <link rel="stylesheet" href="../styles/operations.css">
</head>
<body>
    <div class="containerOperations">
        <div class="card">
            <input class="inputCard" type="radio" name="card" value="basic">
            <span class="checkCard"></span>
            <label class="labelCard">
                <div class="titleCard">CLIENTES</div>
            </label>
        </div>
        <div class="card">
            <input class="inputCard" type="radio" name="card" value="standart">
            <span class="checkCard"></span>
            <label class="labelCard">
                <div class="titleCard">INVENTARIO</div>
            </label>
        </div>
        <div class="card">
            <input class="inputCard" type="radio" name="card" value="premium">
            <span class="checkCard"></span>
            <label class="labelCard">
                <div class="titleCard">VENTAS</div>
            </label>
        </div>
        <div class="card">
            <input class="inputCard" type="radio" name="card" value="premium">
            <span class="checkCard"></span>
            <label class="labelCard">
                <div class="titleCard">ABONOS</div>
            </label>
        </div>
    </div>
</body>
</html>