<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/menu3.css">
    <title>Document</title>
</head>
<body>
    <nav class="menu">
        <ul>
            <li class="menu--item1">Ventas</li>
            <li class="menu--item2">Abonos</li>
            <li class="menu--item3">Cotizaciones</li>
            <li class="menu--item4">Consultas</li>
            <li class="menu--item5">Reportes</li>
            <li class="menu--item6">Finanzas</li>
            <li class="menu--item7">Operaciones</li>
            <li class="menu--item8">Configuracion</li>
        </ul>
        <div class="calendarContainer">
            <object data="/icons/calendar.svg" type="image/svg+xml"></object>
        </div>
    </nav>
    <script src="/script/menu3.js"></script>
</body>
</html>