<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/styles/clients.css">
</head>
<body>
    <div class="container">
        <h2>Registro de Clientes</h2>
        <form>
            <input type="text" placeholder="Nombre Completo">
            <input type="email" placeholder="Email">
            <input type="number" placeholder="Numero telefonico">
            <label>Fecha de Nacimiento</label>
            <input type="date" placeholder="Fecha de Nacimiento">
            <div class="container--radioButton">
                <label for="" class="input_label">Sexo</label>
                <div class="radio-input">
                    <label>
                        <input type="radio" id="value-1" name="value-radio" value="value-1">
                        <span>Hombre</span>
                    </label>
                    <label>
                        <input type="radio" id="value-2" name="value-radio" value="value-2">
                        <span>Mujer</span>
                    </label>
                    <label>
                        <input type="radio" id="value-3" name="value-radio" value="value-3">
                        <span>Otro</span>
                    </label>
                    <span class="selection"></span>
                </div>
            </div>
            <button type="button">Guardar</button>
        </form>
    </div>
</body>
</html>