<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Operaciones</title>
    <link rel="stylesheet" href="../styles/operations.css">
</head>
<body>
    <div class="containerOperations">
        <!-- Clientes -->
        <div class="dropdown">
            <div class="dropdown-button">
                <p>👥 Clientes</p>
            </div>        
            <div class="dropdown-menu">
                <ul>
                    <li class="registerClient">📄 Altas</li>
                    <li>📄 Bajas</li>
                    <li>📄 Modificaciones</li>
                </ul>
            </div>
        </div>
        <!-- Arituclos -->
        <div class="dropdown">
            <div class="dropdown-button">
                <p>📁 Articulos</p>
            </div>
            <div class="dropdown-menu">
                <ul>
                    <li>📁 src</li>
                    <li class="indent-1">📁 app</li>
                    <li class="indent-2">📄 layout.js</li>
                    <li class="indent-2">📄 page.js</li>
                    <li class="indent-1">📁 components</li>
                    <li class="indent-2">📄 header.js</li>
                    <li class="indent-2">📄 footer.js</li>
                    <li class="indent-1">📁 styles</li>
                    <li class="indent-2">📄 globals.css</li>
                </ul>
            </div>
        </div>
        <!-- Ventas -->
        <div class="dropdown">
            <div class="dropdown-button">
                <p>💵 Ventas</p>
            </div>
            <div class="dropdown-menu">
                <ul>
                    <li>📁 src</li>
                    <li class="indent-1">📁 app</li>
                    <li class="indent-2">📄 layout.js</li>
                    <li class="indent-2">📄 page.js</li>
                    <li class="indent-1">📁 components</li>
                    <li class="indent-2">📄 header.js</li>
                    <li class="indent-2">📄 footer.js</li>
                    <li class="indent-1">📁 styles</li>
                    <li class="indent-2">📄 globals.css</li>
                </ul>
            </div>
        </div>
        <!-- Cancelaciones -->
        <div class="dropdown">
            <div class="dropdown-button">
                <p>❌ Cancelaciones</p>
            </div>
            <div class="dropdown-menu">
                <ul>
                    <li>📁 src</li>
                    <li class="indent-1">📁 app</li>
                    <li class="indent-2">📄 layout.js</li>
                    <li class="indent-2">📄 page.js</li>
                    <li class="indent-1">📁 components</li>
                    <li class="indent-2">📄 header.js</li>
                    <li class="indent-2">📄 footer.js</li>
                    <li class="indent-1">📁 styles</li>
                    <li class="indent-2">📄 globals.css</li>
                </ul>
            </div>
        </div>
        <!-- Devoluciones -->
        <div class="dropdown">
            <div class="dropdown-button">
                <p>↩️ Devoluciones</p>
            </div>
            <div class="dropdown-menu">
                <ul>
                    <li>📁 src</li>
                    <li class="indent-1">📁 app</li>
                    <li class="indent-2">📄 layout.js</li>
                    <li class="indent-2">📄 page.js</li>
                    <li class="indent-1">📁 components</li>
                    <li class="indent-2">📄 header.js</li>
                    <li class="indent-2">📄 footer.js</li>
                    <li class="indent-1">📁 styles</li>
                    <li class="indent-2">📄 globals.css</li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>