<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/styles/clients.css">
</head>
<body>
    <div class="containerClient">
        <div class="card">
            <span class="title">Leave a Comment</span>
            <form class="form">
                <div class="group">
                    <input placeholder="‎" type="text" required="">
                        <label for="name">Name</label>
                </div>
                <div class="group">
                    <input placeholder="‎" type="email" id="email" name="email" required="">
                    <label for="email">Email</label>
                </div>
                <div class="group">
                    <textarea placeholder="‎" id="comment" name="comment" rows="5" required=""></textarea>
                    <label for="comment">Comment</label>
                </div>
                <button>Guardar</button>
            </form>
        </div>
    </div>
</body>
</html>