.overlay {
    position: absolute;
    background-color: transparent;
    height: 100vh;
    width: 100vw;
    z-index: 200;
}

.containerClient {
    position: absolute;
    top: -25px;
    width: 100%;
    left: calc(50% - 200px);
    max-width: 400px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 24px;
}

.cardClient {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    width: 350px;
    display: flex;
    flex-direction: column;
}

.titleClient {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

.formClient {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.groupClient {
    position: relative;
}

.formClient .groupClient label {
    font-size: 14px;
    color: rgb(99, 102, 102);
    position: absolute;
    top: -10px;
    left: 10px;
    background-color: #fff;
    transition: all .3s ease;
}

.formClient .groupClient input,
.formClient .groupClient textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    outline: 0;
    width: 100%;
    background-color: transparent;
}

.formClient .groupClient input:placeholder-shown + label, .formClient .groupClient textarea:placeholder-shown + label {
    top: 10px;
    background-color: transparent;
}

.formClient .groupClient input:focus,
.formClient .groupClient textarea:focus {
    border-color: #3366cc;
}

.formClient .groupClient input:focus + label, .formClient .groupClient textarea:focus + label {
    top: -10px;
    left: 10px;
    background-color: #fff;
    color: #3366cc;
    font-weight: 600;
    font-size: 14px;
}

.formClient .groupClient textarea {
    resize: none;
    height: 50px;
}

.formClient button {
    background-color: #3366cc;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.formClient button:hover {
    background-color: #27408b;
}  