body {
    /* background-image: url('/images/wallpaper.jpg');
    background-size: cover; */
    background-color: #000;
    overflow: hidden;
}

div#temporaryContent {
    position: absolute;
    top: 13vh;
    left: 0px;
    width: 100vw;
}

#calendar {
    position: absolute;
    right: -300px;
    top: 50px;
    border-radius: 8px;
    transition: 0.3s;
}

#calendar.showCalendar {
    right: 2px;
}