@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

nav {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    width: 20vw;
    height: 85vh;
    text-align: center;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2), 0 5px 10px 0 rgba(0, 0, 0, 0.1);
    position: relative;
}

nav > div {
    padding-bottom: 10px;
    font-size: 30px;
    text-align: left;
    width: 90%;
    left: 0.5vw;
    white-space: nowrap;
    overflow: hidden;
}

svg {
    width: 30px;
    height: 30px;
    display: flex;
    position: relative;
    justify-content: center;
    margin-top: 8px;
    left: 0.5vw;
    white-space: nowrap;
    overflow: hidden;
    flex-shrink: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    background-color: #fafff9;
    border-radius: 15px;
    transition: 0.5s;
}

.container--item {
    display: flex;
    position: relative;
    box-sizing: border-box;
    gap: 15px;
    cursor: pointer;
}

.container--item:hover {
    display: flex;
    box-sizing: border-box;
    border-radius: 5px;
    color: #71a2e7;
    font-size: 600;
}

.container.showMenu {
    width: 3.9vw;
}