.containerOperations {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 70vw;
    height: 80vh;
    background-color: #2a2a3b;
    border-radius: 5px;
    animation: showForm 0.5s ease-in-out;
    user-select: none;
    font-size: 1.5rem;
}

@keyframes showForm {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.operations--card {
    display: flex;
    margin: 10px;
    width: 170px;
}

.card--summary {
    display: flex;
    justify-content: center;
    background-color: #fff;
    border-radius: 10px;
    list-style: none;
    cursor: pointer;
    outline: none;
}

.summary--ul {
    position: relative;
    top: -18px;
    left: 45px;
    background-color: #fff;
    list-style: none;
    padding-left: 0;
    color: #000;
    border-radius: 10px;
}

.summary--ul .li--option {
    display: flex;
    justify-content: center;
    margin: 0;
}

.summary--ul .li--option:hover {
    color: red;
}