/* Modal principal  */
.formSales {
    width: 70vw;
    height: 80vh;
    display: grid;
    background-color: #2a2a3b;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    animation: showForm 0.5s ease-in-out;
}

@keyframes showForm {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.container {
    display: grid;
    position: relative;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    min-height: 0;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(221, 62, 226, 0.2);
}

.container svg {
    width: 30px;
    height: 30px;
    position: relative;
    top: calc(50% - 15px);
    pointer-events: none;
}

.container input:not([type="radio"]) {
    font-size: 1.3rem;
    border: none;
    border: 1px solid #5C7D99;
    border-radius: 8px;
    background-color: #1E1E1E;
    color: #FFFFFF;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.container input::placeholder {
    color: #5C7D99;
    opacity: 0.8;
}

.container input:focus {
    outline: none;
    border-color: #3A5A74;
    box-shadow: 0 0 0 1px #3A5A74;
}

/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.container--menu { 
    grid-area: 1 / 1 / 13 / 2;
    background-color: #1e1e2f;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.cantainer--iconArticle { 
    grid-area: 1 / 4 / 2 / 5;
    text-align: center;
    justify-content: center;
}

.container--inputArticule { 
    grid-area: 1 / 5 / 2 / 7;
    border-radius: 5px;
}

.container--iconSeachArticle { 
    grid-area: 1 / 7 / 2 / 8;
}

.container--iconTicket { 
    grid-area: 2 / 4 / 3 / 5;
    text-align: center;
    justify-content: center;
}

.containr--inputTicket { 
    grid-area: 2 / 5 / 3 / 7; 
    border-radius: 5px;
}

.container--iconClient { 
    grid-area: 3 / 4 / 4 / 5;
    text-align: center;
    justify-content: center;
}

.container--clientName { 
    grid-area: 3 / 5 / 4 / 8;
    border-radius: 5px;
}

.container--iconSearchClient { 
    grid-area: 3 / 8 / 4 / 9;
    justify-content: center;
    text-align: left;
}

.container--quantityItems { 
    grid-area: 5 / 2 / 6 / 3;
    text-align: center;
    display: grid;
    place-items: center;
}

.container--description { 
    grid-area: 5 / 3 / 6 / 6;
    text-align: center;
    display: grid;
    place-items: center;
}

.container--price { 
    grid-area: 5 / 6 / 6 / 7;
    text-align: center;
    display: grid;
    place-items: center;
}

.container--discount { 
    grid-area: 5 / 7 / 6 / 8;
    text-align: center;
    display: grid;
    place-items: center;
}

.container--iva { 
    grid-area: 5 / 8 / 6 / 9; 
    text-align: center;
    display: grid;
    place-items: center;
    position: relative;
    cursor: pointer;
}

.container--amount { 
    grid-area: 5 / 9 / 6 / 10; 
    text-align: center;
    display: grid;
    place-items: center;
}

.container--quantityItems,
.container--description,
.container--price,
.container--discount,
.container--iva,
.container--amount {
    background-color: #252530;
    color: #d1d5db;
    border-right: 1px solid #3c3c50;
}

.container--imageLogo { 
    grid-area: 1 / 2 / 5 / 4;
    background-image: url('/images/wallpaper.jpg');
    background-size: cover;
}

.container--iconPay { 
    grid-area: 1 / 1 / 2 / 2;
}

.container--iconPay svg, .container--iconQuote svg, 
.container--iconRecoverQuote svg, .container--iconCancel svg {
    width: 34px;
    height: 34px;
    z-index: 90;
    pointer-events: none;
}

.container--iconQuote { 
    grid-area: 2 / 1 / 3 / 2; 
}

.container--iconRecoverQuote { 
    grid-area: 3 / 1 / 4 / 2;
}

.container--iconCancel { 
    grid-area: 4 / 1 / 5 / 2;
}

.container--iconPay, .container--iconQuote, .container--iconRecoverQuote, .container--iconCancel { 
    text-align: center;
    justify-content: center;
    cursor: pointer;
    transition: background 0.3s;
}

.container--iconPay:hover, .container--iconQuote:hover, 
.container--iconRecoverQuote:hover, .container--iconCancel:hover {
    background-color: #4a90e2;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.container--iconSeachArticle:hover, .container--iconSearchClient:hover {
    cursor: pointer;
    z-index: 100;
}

input:hover {
    border: 1px solid #4a90e2;
}

.container--totalPrice { 
    grid-area: 12 / 2 / 13 / 10;
    background-color: #1e1e2f;
    color: #d1d5db;
    border-bottom-right-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: right;
    font-size: 1.9rem;
}

.container--infoDolarPrice { 
    grid-area: 11 / 2 / 12 / 10;
    background-color: #3b82f6;
    display: flex;
    flex-direction: column;
    position: relative;
    font-size: 1.1rem;
}

.container--infoDolarPrice .discountValue,
.container--infoDolarPrice .ivaValue,
.container--infoDolarPrice .subtotalValue {
    display: flex;
    justify-content: right;
}

.container--infoDolarPrice span {
    color: #d1d5db;
}

.container--shoppingArticles { 
    grid-area: 6 / 2 / 11 / 10;
    overflow-y: auto;
    background-color: #2a2a3b;
}

/* Scrollbar para navegadores WebKit */
.container--shoppingArticles::-webkit-scrollbar {
    width: 8px;
}

  /* Fondo de la barra (track) */
.container--shoppingArticles::-webkit-scrollbar-track {
    background: #2a2a3b;
}


  /* La barra en sí (thumb) */
.container--shoppingArticles::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

  /* Hover del thumb */
.container--shoppingArticles::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.container--iconPay,
.container--iconQuote,
.container--iconRecoverQuote,
.container--iconCancel {
    position: relative; /* Necesario para que el tooltip se posicione correctamente */
}

.container--iconPay::after,
.container--iconQuote::after,
.container--iconRecoverQuote::after,
.container--iconCancel::after {
    content: attr(data-tooltip); 
    position: absolute;
    bottom: 35%;
    left: 0%;
    transform: translateX(-50%);
    background-color: rgba(59, 130, 246, 0.9);
    color: #ffffff;
    padding: 5px 10px;
    font-size: 13px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s, visibility 0.2s;
}

.container--iconPay:hover::after,
.container--iconQuote:hover::after,
.container--iconRecoverQuote:hover::after,
.container--iconCancel:hover::after {
    opacity: 1;
    visibility: visible;
}

.itemRow {
    display: flex;
    height: calc( 1 / 6 * 100% ); color: #fff;
}

.itemRow > *:not(:nth-child(2)) {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(0.5rem, 0.9rem, 1rem);
    user-select: none;
    background-color: transparent;
    min-width: 0;    
}

.itemRow > *:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: clamp(0.5rem, 0.9rem, 1rem);
    user-select: none;
    background-color: transparent;
    min-width: 0;
    overflow: hidden;
}

.itemRow:hover {
    background-color: #2a2a5bf1;
}

.itemRow:nth-child(odd) span:nth-child(1),
.itemRow:nth-child(even) span:nth-child(1) {
    position: relative;
    background-color: #87adbd;
    border-radius: 50%;
    justify-content: center;
    left: 1px;
    color: #fff;
    width: 1.3rem;
    height: 1.3rem;
    border: none;
    user-select: none;
    font-size: 1rem;
    box-shadow: 0 1px 3px #0001;
    transition: background-color 0.2s ease, transform 0.1s ease;
}

.itemRow:nth-child(odd) span:nth-child(2),
.itemRow:nth-child(even) span:nth-child(2) {
    position: relative;
    justify-content: center;
    text-align: center;
    left: 0;
    width: 60%;
}

.itemRow:nth-child(odd) span:nth-child(3),
.itemRow:nth-child(even) span:nth-child(3) {
    position: relative;
    background-color: #87adbd;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    right: 3px;
    color: #fff;
    width: 1.3rem;
    height: 1.3rem;
    border: none;
    user-select: none;
    font-size: 1rem;
    box-shadow: 0 1px 3px #0001;
    transition: background-color 0.2s ease, transform 0.1s ease;
}

.itemRow > div:nth-child(4), .minus, .plus {
    cursor: pointer;
}

.itemRow span:nth-child(1):hover {
    background-color: #e0205b;
}

.itemRow span:nth-child(3):hover {
    background-color: #6bc24b;
}

.itemRow span:nth-child(1):active, .itemRow span:nth-child(3):active {
    transform: scale(0.95);
}

/* Elemento del porcentaje en el contenedor de IVA */
.amount--percentIVA {
    position: absolute;
    display: flex;
    top: -3px;
    right: 1px;
    background-color: #3b82f6;
    color: #fff;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    font-size: 0.8rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

/* Elemento que se usa como fondo debajo de algun prompt o form */
.overlay {
    position: absolute;
    background-color: transparent;
    height: 100vh;
    width: 100vw;
    z-index: 200;
}

/* Forms */
.formDiscount, .formSearchClient {
    position: absolute;
    display: flex;
    flex-direction: column; gap: 1rem;
    width: 30%;
    height: 15%;
    border-radius: 5px;
    background-color: #111827;
    color: white;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.6), 0 0 10px rgba(59, 130, 246, 0.2);
    padding: 1rem;
    left: 35%;
    top: 20%;
    z-index: 210;
}

.formDiscount label, .formSearchClient label {
    display: flex; 
    flex-direction: column; 
    gap: 0.5rem;
}

.formDiscount label input[type="text"], .formSearchClient input[type="text"] {
    padding: 0.5rem; 
    border-radius: 0.5rem; 
    border: none; 
    outline: none; 
    background-color: #1f2937; 
    color: white;
}

.formDiscount div, .formSearchClient .btnContainerClients {
    display: flex; 
    justify-content: flex-end; 
    gap: 1rem;
}

.formDiscount div button, .formSearchClient .btnContainerClients button {
    padding: 0.5rem 1rem; 
    border-radius: 0.5rem; 
    color: white; 
    border: none;
}

/* Ajuste del formSearchClient */
.resizeForm {
    transition: height 0.3s;
    height: 300px;
}

.resizeForm .btnContainerClients {
    display: flex;
    right: 1rem;
    position: absolute;
    bottom: 0.7rem;
}

/* Lista de cliente */
.listClients {
    justify-content: flex-start;
    margin-top: 0;
    height: 60%;
    background-color: #1f2937;
    overflow-y: auto;
}

.listClients span {
    display: flex;
    flex-direction: column;
    width: calc(100% - 3px);
    padding: 3px 0 3px 3px;
    font-size: 1.2rem;
    user-select: none;
}

.listClients span:hover {
    transition: background-color 0.3s;
    background-color: #3A5A74;
    cursor: pointer;
}

/* Scrollbar para navegadores WebKit */
.listClients::-webkit-scrollbar {
    width: 8px;
}

  /* Fondo de la barra (track) */
.listClients::-webkit-scrollbar-track {
    background: #2a2a3b;
}


  /* La barra en sí (thumb) */
.listClients::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

  /* Hover del thumb */
.listClients::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* botones radio del contener de descuentos */
.radio-input {
    display: flex;
    flex-direction: row;
    font-weight: 600;
    color: #fff;
    user-select: none;
}

.radio-input input[type="radio"] {
    display: none;
}

.radio-input label {
    display: flex;
    align-items: center;
    padding: 5px;
    width: 22px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 12px;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.radio-input label:before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid #ccc;
    transition: all 0.3s ease-in-out;
}

.radio-input input[type="radio"]:checked + label:before {
    background-color: green;
    top: 0;
}

.radio-input input[type="radio"]:checked + label {
    background-color: royalblue;
    color: #fff;
    border-color: rgb(129, 235, 129);
    animation: radio-translate 0.3s ease-in-out;
}

@keyframes radio-translate {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateX(0);
    }
}

/* botones radio del contener de IVA */
.containerIVA {
    position: absolute;
    top: calc(50% - 15%);
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #252530;
    border-radius: 10px;
}

.custom-radioIVA {
    display: flex;
    flex-direction: column;
    background-color: #1e1e2f;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0 ,0.1);
    overflow: hidden;
}

.custom-radioIVA input[type="radio"] {
    display: none;
}

.radio-labelIVA {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.radio-circleIVA {
    width: 20px;
    height: 20px;
    border: 1px solid #87adbd;
    border-radius: 50%;
    margin-right: 10px;
    background: #252530;
    box-shadow: 0 1.5px 3px #0002;
    transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.radio-text {
    font-size: 1rem;
    color: #64748b;
    transition: color 0.3s ease-in-out;
}

.custom-radioIVA input[type="radio"]:hover + .radio-labelIVA {
    background-color: #4a90e2;
}

.custom-radioIVA input[type="radio"]:checked + .radio-labelIVA .radio-circleIVA {
    border-color: #fff;
    background-color: #ffcc00;
}

.custom-radioIVA input[type="radio"]:checked + .radio-labelIVA .radio-text {
    color: #d1d5db;
}

/* Estilos los botones del contenedor descuento */
.btnCancel:hover, .btnAccept:hover {
    cursor: pointer;
}

/* Contenedor del ticket */
/* Contenedor */
.containerTicket {
    display: grid;
    grid-template-columns: auto;
    width: 400px;
    box-shadow: 5px 5px 15px rgba(255, 255, 255, 0.1);
    border-radius: 19px;
}

hr {
    height: 1px;
    background-color: #2e2e2e; /* Dark gray line */
    border: none;
    width: 360px;
}

.card {
    width: 400px;
    background: #1c1c1c; /* Dark background for a professional look */
    box-shadow:
        0px 187px 75px rgba(0, 0, 0, 0.01),
        0px 105px 63px rgba(0, 0, 0, 0.05),
        0px 47px 47px rgba(0, 0, 0, 0.09),
        0px 12px 26px rgba(0, 0, 0, 0.1),
        0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 19px 19px;
}

.titleCard {
    width: 380px;
    height: 40px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 20px;
    border-bottom: 1px solid #2e2e2e; /* Dark gray */
    font-weight: 700;
    font-size: 1rem;
    color: #ffffff; /* White text */
}

  /* Cart */
.cart {
    border-radius: 19px 19px 0px 0px;
}

.cart .steps {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.cart .steps .step {
    display: grid;
    gap: 5px;
}

.cart .steps .step span {
    font-size: 13px;
    font-weight: 600;
    color: #ffffff; /* White text */
    margin-bottom: 8px;
    display: block;
}

.cart .steps .step p {
    font-size: 11px;
    font-weight: 600;
    color: #bbbbbb; /* Light gray text */
}

.payment .form {
    display: grid;
    grid-template-columns: 1fr 80px;
    gap: 10px;
    padding: 0px;
}

.input_field {
    width: auto;
    height: 36px;
    padding: 0 0 0 12px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #2e2e2e; /* Dark gray */
    background-color: #333333; /* Dark input background */
    color: #ffffff; /* White text */
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.input_field:focus {
    border: 1px solid transparent;
    box-shadow: 0px 0px 0px 2px #555555; /* Light gray focus */
    background-color: #333333;
}

.payment .form button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 18px;
    gap: 10px;
    width: 100%;
    height: 36px;
    background: #555555; /* Medium gray button */
    box-shadow: 0 0.5px 0.5px #555555;
    border-radius: 5px;
    border: 0;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #ffffff; /* White text */
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.payment .form button:hover {
    background-color: #777777;
    cursor: pointer;
    
}

.payments .details {
    display: grid;
    grid-template-columns: 10fr 1fr;
    gap: 1px;
}

.payments .details span:nth-child(odd) {
    font-size: 14px;
    font-weight: 600;
    color: #ffffff; /* White text */
}

.payments .details span:nth-child(even) {
    font-size: 13px;
    font-weight: 600;
    color: #bbbbbb; /* Light gray text */
}

.checkout .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px 10px 20px;
    background-color: #2e2e2e; /* Dark gray background */
    border-radius: 0 0 19px 19px;
}

.btnTicketContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.paymentPrice {
    font-size: 22px;
    color: #ffffff; /* White text */
    font-weight: 900;
}

.checkout .checkoutBtnPay, .checkout .checkoutBtnCancel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 36px;
    background: #555555; /* Medium gray button */
    border-radius: 7px;
    border: 1px solid #2e2e2e; /* Dark gray border */
    color: #ffffff; /* White text */
    font-size: 13px;
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.checkout .checkoutBtnPay:hover, .checkout .checkoutBtnCancel:hover {
    background-color: #777777; /* Slightly lighter gray on hover */
    cursor: pointer;
}

/* Estilo de la forma de pago */
.containerTicket {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-68%);
}

.containerPaymentBody {
    font-family: sans-serif;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 18vh;
    width: 200px;
    position: relative;
}

.containerPaymentBody svg {
    color: #e0e7ff
}

.payment-container {
    width: 200px;
    border-radius: 0.5rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    justify-content: center;
}

.payment-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.1rem;
    border: 1px solid transparent;
    border-radius: 0.5rem;
    transition: background-color 0.5s, border-color 0.5s;
    position: relative;
    overflow: hidden;
}

.payment-option:hover {
    background-color: #6366f1;
}

.payment-option input[type="radio"] {
    appearance: none;
    width: 1rem;
    height: 1rem;
    border: 2px solid #ccc;
    border-radius: 50%;
    background-color: #fff;
    position: relative;
}

.payment-option input[type="radio"]:checked {
    border-color: #6366f1;
    background-color: #6366f1;
}

.payment-option:has(input:checked) {
    background-color: #e0e7ff;
    border-color: #6366f1;
    color: #1e3a8a;
    font-weight: bold;
}

.payment-option:has(input:checked) svg {
    color: #1e3a8a;
} 

.icon-label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    position: relative;
}

.label-text {
    position: absolute;
    top: 0.25rem;
    left: 2.8rem;
    opacity: 0;
    transform: translateY(110%) translateX(0);
    transition: all 0.3s ease;
    white-space: nowrap;
}

.payment-option:has(input:checked) .label-text {
    opacity: 1;
    transform: translateY(-60%) translateX(0);
    color: #2e2e2e;
    font-size: 1rem;
}